<% @dataset.do_the_query.each do |result| -%>
  <tr class='full_stats'>
    <% if @dataset.grouping? -%>
      <% if @dataset.grouping =~ /^minute/ -%>
        <td class='group-thing'><%= (@dataset.starts_at + 60 * result[@dataset.grouping]).strftime('%H:%M') %></td>
      <% else -%>
        <% params[:controller_action][:page] = result[:page] if @dataset.grouping.to_sym == :page -%>
        <td class='group-thing'><%= sometimes_link_grouping_result(result, @dataset.grouping) %></td>
      <% end -%>
      <td class='number'>
        <%= sometimes_link_number_of_requests(result, @dataset.grouping, {:params => params.merge(:action => distribution_kind(@dataset), :page => result[:page])}) %>
      </td>
      <% unless @dataset.resource == "requests" -%>
        <% unless @dataset.grouping_function == :avg -%>
          <td class='number'><%= number_with_delimiter(result["#{@dataset.resource}_avg"].to_i) %></td>
        <% end -%>
        <td class='number'><%= number_with_delimiter(result["#{@dataset.resource}_stddev"].to_i) %></td>
        <% if @dataset.accumulates_time? -%>
          <td class='number'><%= seconds_to_human(result["#{@dataset.resource}_#{@dataset.grouping_function}"].to_i / 1000) %></td>
          <td><%= number_to_percentage(result["#{@dataset.resource}_#{@dataset.grouping_function}"].to_f / @dataset.sum(@dataset.resource) * 100, :precision => 2) %></td>
          <% unless @dataset.resource.to_sym == :total_time -%>
            <td><%= number_to_percentage(result[@dataset.grouping_function].to_f / @dataset.sum("total_time") * 100, :precision => 2) %></td>
          <% end -%>
        <% else -%>
        <td class='number'><%= number_with_delimiter(result[@dataset.grouping_function].to_i) %></td>
        <% end -%>
      <% end -%>
    <% else -%>
      <td><%= h result[:user_id] %></td>
      <td><%= h result[:page] %></td>
      <td class='number'><%= number_with_delimiter(result[@dataset.resource]) %></td>
    <% end -%>
  </tr>
<% end -%>

