<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="shortcut icon" href='<%= asset_path "favicon.ico"%>' type="image/ico">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <% if params[:auto_refresh] == "1" %>
  <meta http-equiv="refresh" content="60">
  <% end %>
  <title>Logjam</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

</head>
<body>
  <div id="loading"></div>
  <%= yield %>
  <script async>
    <%= yield :page_scripts %>

    window.setTimeout(function(){
        document.body.classList.add('loaded');
        setTimeout(function(){
          document.getElementById('loading').style.zIndex = -1;
        }, 100)
    }, 50);

    window.addEventListener('beforeunload', function(){
      document.getElementById('loading').style.zIndex = 100000;
      document.body.classList.remove('loaded');
    })

  </script>


</body>
</html>
