<% if !@dataset.apdex(:ajax).nan? %>
  <div class="item col-5 icon-action<% if "%.2f" % @dataset.apdex(:ajax) >= "0.94" %> apdex-ok<% end %><% if "%.2f" % @dataset.apdex(:ajax) < "0.94" %> apdex-fail<% end %>">
    <%= clean_link_to("", :action => "apdex_overview", :section => :frontend, :resource => 'ajax_time') do %>
      <h2>Apdex Ajax: <span class="number"><%= "%.2f" % @dataset.apdex(:ajax) %></span></h2>
    <% end %>
    <table class="collapse-table full_stats">
      <tr title="<%= integer_number @dataset.happy_count(:ajax) %> requests">
        <td>happy</td>
        <td class="number">
          <%= "%.2f" % (100.0 * @dataset.happy(:ajax)) %>%
        </td>
      </tr>
      <tr title="<%= integer_number @dataset.satisfied_count(:ajax) %> requests">
        <td>satisfied</td>
        <td class="number">
          <%= "%.2f" % (100.0 * @dataset.satisfied(:ajax)) %>%
        </td>
      </tr>
      <tr title="<%= integer_number @dataset.tolerating_count(:ajax) %> requests">
        <td>tolerating</td>
        <td class="number">
          <%= "%.2f" % (100.0 * @dataset.tolerating(:ajax)) %>%
        </td>
      </tr>
      <tr title="<%= integer_number @dataset.frustrated_count(:ajax) %>">
        <td>frustrated</td>
        <td class="number">
          <%= "%.2f" % (100.0 * @dataset.frustrated(:ajax)) %>%
        </td>
      </tr>
    </table>
  </div>
<% end %>

