<table class='stats' id='apdex-table'>
  <tr><th>apdex/errors/warnings</th></tr>
  <tr><td>happy (rt &lt; 100)</td><td class='number'><%= '%.1f' % (100.0 * @dataset.happy) %>%</td></tr>
  <tr><td>satisfied (rt &lt; 500)</td><td class='number'><%= '%.1f' % (100.0 * @dataset.satisfied) %>%</td></tr>
  <tr><td>tolerating (500 &lt;= rt &lt; 2000)</td><td class='number'><%= '%.1f' % (100.0 * @dataset.tolerating) %>%</td></tr>
  <tr><td>frustrated (rt &gt; 2000)</td><td class='number'><%= '%.1f' % (100.0 * @dataset.frustrated) %>%</td></tr>
  <tr><td></td><td></td></tr>
  <tr><td><%= link_to 'apdex score', 'http://www.apdex.org/overview.html' %></td><td class='number'><%= '%.2f' % @dataset.apdex %></td></tr>
  <tr><td></td><td></td></tr>
  <tr>
    <td class='error'>internal server errors</td>
    <td class='number error'><%= link_to(@dataset.error_count, :params =>
      clean_params(params.slice(:year,:month,:day).merge(:action => "errors",
      :error_type => "internal", :page => (@page||'').gsub(/^::/,'')))) %></td>
  </tr>
  <tr>
    <td class='error'>logged errors</td>
    <td class='number error'><%= link_to(@dataset.logged_error_count(3), :params =>
      clean_params(params.slice(:year,:month,:day).merge(:action => "errors",
      :error_type => "logged", :page =>  (@page||'').gsub(/^::/,'')))) %></td>
  </tr>
</table>
