<table id="apdex-table">
  <tr>
    <th colspan="2">apdex
      <%= link_to(image_tag("small_triangle_right.png"),
          clean_params(params.merge(:action => "apdex_overview")),
          :title => "show apdex overview") %>
    </th>
  </tr>
  <tr>
    <td>happy (t &lt; 0.1s)</td>
    <td class="number" title="<%= @dataset.happy_count %>"><%= "%.2f" % (100.0 * @dataset.happy) %>%</td>
  </tr>
  <tr>
    <td>satisfied (t &lt; 0.5s)</td>
    <td class="number" title="<%= @dataset.satisfied_count %>"><%= "%.2f" % (100.0 * @dataset.satisfied) %>%</td>
  </tr>
  <tr>
    <td>tolerating (0.5s &le; t &lt; 2s)</td>
    <td class="number" title="<%= @dataset.tolerating_count %>"><%= "%.2f" % (100.0 * @dataset.tolerating) %>%</td>
  </tr>
  <tr>
    <td>frustrated (t &ge; 2s)</td>
    <td class="number" title="<%= @dataset.frustrated_count %>"><%= "%.2f" % (100.0 * @dataset.frustrated) %>%</td>
  </tr>
  <tr><td></td><td></td></tr>
  <tr>
    <td><%= link_to "apdex score", "http://www.apdex.org/overview.html", :title => "show definition" %></td>
    <td class="number"><%= "%.2f" % @dataset.apdex %></td>
  </tr>
</table>
