<% time_resources = Logjam::Resource.time_resources
   call_resources = Logjam::Resource.call_resources
   memory_resources = Logjam::Resource.memory_resources
   heap_resources = Logjam::Resource.heap_resources
   colors = Logjam::Resource.colors
   pie_colors = Logjam::Resource.colors_with_transparency(0.7)
   s = @dataset.summary
   chart_size = 100
-%>

<% resources = time_resources-["total_time", "gc_time"] -%>
<% selected = time_resources.include?(params[:resource]) ? " selected" : "" %>
<div class="item icon-action<%=selected%>">
  <%= sometimes_link_resource(time_resources, 'total_time') do %>
  <h2>Time</h2>
  <% end %>
  <div class="flex-row">
    <div id="time-resources" class="breakdown-chart">
      <%= render :partial => "simple_pie", :locals => {
            :data => resources.map{|r| s.avg(r)},
            :legend => resources,
            :container => "time-resources",
            :onclick => "view_resource('total_time')",
            :colors => pie_colors.values_at(*resources), :size => chart_size } %>
    </div>
    <div class="table-wrapper">
      <table>
        <% time_resources.each do |name| -%>
          <% next if (value = s.avg(name)).zero?  -%>
          <tr>
            <td class="resource_name"><%= hrn name %></td>
            <td class="number" style="color:<%= raw(colors[name] || '#000') %>;">
              <%= number_with_precision(value, :precision => 2) %> ms
            </td>
          </tr>
        <% end -%>
      </table>
    </div>
  </div>
</div>

<% unless s.zero_resources?(call_resources) %>
<% resources = *call_resources.select{|r| r =~ /_calls$/}-["gc_calls"] -%>
<% selected = call_resources.include?(params[:resource]) ? " selected" : "" %>
<div class="item icon-action<%=selected%>">
  <%= sometimes_link_resource(call_resources, resources.first) do %>
  <h2>Calls</h2>
  <% end %>
  <div class="flex-row">
    <div id="call-resources" class="breakdown-chart">
      <%= render :partial => "simple_pie", :locals => {
            :data =>  resources.map{|r| s.avg(r)},
            :legend => resources,
            :container => "call-resources",
            :onclick => "view_resource('#{resources.first}')",
            :colors => pie_colors.values_at(*resources), :size => chart_size
          } %>
    </div>
    <div class="table-wrapper">
      <table>
        <% call_resources.each do |name| -%>
          <% next if (value = s.avg(name)).zero?  -%>
          <tr>
            <td class="resource_name">
              <%= hrn name %>
            </td>
            <td class="number" style="color:<%= raw(colors[name] || '#000') %>;">
              <%= number_with_precision(value, :precision => 2) %>
            </td>
          </tr>
        <% end -%>
      </table>
    </div>
  </div>
</div>
<% end %>

<% unless s.zero_resources?(memory_resources) %>
<% resources = *memory_resources-["allocated_memory"]
   h = resources.inject({}){|h,r| h[r] = s.avg(r); h }
   h["allocated_objects"] *= 40 if h.include?("allocated_objects") %>
<% selected = memory_resources.include?(params[:resource]) ? " selected" : "" %>
<div class="item icon-action<%=selected%>">
  <%= sometimes_link_resource(memory_resources, resources.first) do %>
  <h2>Allocations</h2>
  <% end %>
  <div class="flex-row">
    <div id="allocation-resources" class="breakdown-chart">
      <%= render :partial => "simple_pie", :locals => {
            :data => h.values_at(*resources),
            :legend => resources,
            :container => "allocation-resources",
            :onclick => "view_resource('#{resources.first}')",
            :colors => pie_colors.values_at(*resources), :size => chart_size } %>
    </div>
    <div class="table-wrapper">
      <table>
        <% memory_resources.each do |name| -%>
          <% next if (value = s.avg(name)).zero?  -%>
          <tr>
            <td class="resource_name">
              <%= hrn name %>
            </td>
            <td class="number" style="color:<%= raw(colors[name] || '#000') %>;">
              <%= memory_number(value) %>
            </td>
          </tr>
        <% end -%>
      </table>
    </div>
  </div>
</div>
<% end %>

<% unless s.zero_resources?(heap_resources) %>
<% resources = *heap_resources + ["free_slots"] - ["heap_size"]
  h = resources.inject({}){|h,r| h[r] = s.avg(r); h }
  h["free_slots"] = [s.avg('heap_size') - s.avg('live_data_set_size'), 0].max
-%>
<% selected = heap_resources.include?(params[:resource]) ? " selected" : "" %>
<div class="item icon-action<%=selected%>">
  <%= sometimes_link_resource(heap_resources, resources.first) do %>
  <h2>Heap</h2>
  <% end %>
  <div class="flex-row">
    <div id="heap-resources" class="breakdown-chart">
      <%= render :partial => "simple_pie", :locals => {
            :data => h.values_at(*resources),
            :legend => resources,
            :container => "heap-resources",
            :onclick => "view_resource('#{resources.first}')",
            :colors => pie_colors.values_at(*resources), :size => chart_size } %>
    </div>
    <div class="table-wrapper">
      <table>
        <% heap_resources.each do |name| -%>
          <% next if (value = s.avg(name)).zero?  -%>
          <tr>
            <td class="resource_name">
              <%= hrn name %>
            </td>
            <td class="number" style="color:<%= raw(colors[name] || '#000') %>;">
              <%= memory_number(value) %>
            </td>
          </tr>
        <% end -%>
        <tr>
          <% name = "free_slots" %>
          <td class="resource_name">
            <%= hrn name %>
          </td>
          <td class="number" style="color:<%= raw(colors[name] || '#000') %>;">
            <%= memory_number([s.avg('heap_size') - s.avg('live_data_set_size'), 0].max) %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% end %>
