<% pages.each do |page| -%>
  <tr class="full_stats">
    <td class="group-thing">
      <div class="gbg">
        <div class="gct"><%= sometimes_link_grouping_result(page, :page, :page => page.page) %></div>
        <div class="gbox <%= apdex_class(page.apdex_score) %>" style="width:<%= page_percent(pages, page, resource).to_f %>%"></div>
        <% if params[:grouping_function] == "apdex" %>
          <div class="apdex-box"></div>
        <% end %>
      </div>
    </td>
    <td class="number"><%= sometimes_link_requests(page, :page, :grouping => "request", :page => without_module(page.page)) %></td>
    <td class="number"><%= number_with_precision(page.avg(resource), :precision => 1, :delimiter => ",") %></td>
    <td class="number"><%= number_with_precision(page.stddev(resource), :precision => 1 , :delimiter => ",") %></td>
    <td class="number"><%= number_with_delimiter(page.sum(resource).to_i) %></td>
  </tr>
<% end -%>

