<%= content_for(:page_scripts) do %>
var parameters = <%= raw Oj.dump(params) %>;
var parameter_defaults = <%= raw Oj.dump(default_header_parameters) %>;
var self_url = '<%= raw self_url %>';
var home_url = '<%= raw home_url %>';
var history_url = '<%= raw history_url %>';
var selectable_days = <%= raw Oj.dump(@days.map(&:to_s)) %>;
var auto_complete_url = '<%= raw auto_complete_url_for_action_page %>';
$(document).ready(initialize_header);
<% end %>


<section id="logjam-sidebar" class="dashboard-apdex-overview">
  <ul class="dashboard-apdex-overview">
      <li class="header">
        <span class="application-position">#</span>
        <span class="application-name">Application</span>
        <span class="application-apdex">APDEX</span>
      </li>
    <% ["aaaaaaa","bbbbbbbbbb","cccccccc"].each_with_index.each do |item, index| %>
      <li class="apdex-ok">
        <mark style="width:97%"></mark>
        <span class="application-position"><%= index %></span>
        <span class="application-name"><%= item %></span>
        <span class="application-apdex">0.98</span>
      </li>
    <% end %>
  </ul>
</section>
