<table id='error-table'>
  <tr><th colspan="2">errors/warnings/exceptions</th></tr>
  <tr>
    <td title="internal server errors">internal</td>
    <td class="number error"><%= link_to(@dataset.error_count,
      clean_params(params.merge(:action => "errors", :error_type => "internal", :page => (@page||'').gsub(/^::/,'')))) %></td>
  </tr>
  <tr>
    <td title="logged fatals">fatals</td>
    <td class="number error"><%= link_to(@dataset.logged_error_count(4),
      clean_params(params.merge(:action => "errors", :error_type => "logged_fatal", :page =>  (@page||'').gsub(/^::/,'')))) %></td>
  </tr>
  <tr>
    <td title="logged errors and fatals">errors</td>
    <td class="number error"><%= link_to(@dataset.logged_error_count(3),
      clean_params(params.merge(:action => "errors", :error_type => "logged_error", :page =>  (@page||'').gsub(/^::/,'')))) %></td>
  </tr>
  <tr>
    <td title="logged warnings">warnings</td>
    <td class="number warn"><%= link_to(@dataset.logged_error_count(2),
      clean_params(params.merge(:action => "errors", :error_type => "logged_warning", :page =>  (@page||'').gsub(/^::/,'')))) %></td>
  </tr>
  <tr>
    <td title="logged exceptions">logged exceptions</td>
    <td class="number error"><%= link_to(@dataset.exception_count,
      clean_params(params.merge(:action => "exceptions", :page =>  (@page||'').gsub(/^::/,'')))) %></td>
  </tr>
  <tr>
    <td title="javascript exceptions">javascript exceptions</td>
    <td class="number error"><%= link_to(@dataset.js_exception_count,
      clean_params(params.merge(:action => "js_exception_types", :page =>  (@page||'').gsub(/^::/,'')))) %></td>
  </tr>
</table>
