<script type="text/javascript">
var parameter_defaults = <%= raw default_header_parameters.to_json %>;
function submit_filter_form() {
  var selected_date = $("#datepicker").val().replace(/-/g,'/');
  if (selected_date.match(/\d\d\d\d\/\d\d\/\d\d/)) {
    var action = $("#filter-form").attr("action");
    var old_date = action.match(/\d\d\d\d\/\d\d\/\d\d/);
    if (old_date) {
      $("#filter-form").attr("action", action.replace(old_date[0], selected_date));
    }
  }
  var action = new URI ($("#filter-form").attr("action"));
  var x = $("#filter-form").serialize();
  var uri = new URI();
  uri.pathname(action.pathname());
  uri.search(x);
  uri.removeSearch("utf8")
     .removeSearch("resource", parameter_defaults.resource)
     .removeSearch("time_range", parameter_defaults.time_range)
     .removeSearch("grouping", parameter_defaults.grouping)
     .removeSearch("grouping_function", parameter_defaults.grouping_function)
     .removeSearch("start_minute", parameter_defaults.start_minute)
     .removeSearch("end_minute", parameter_defaults.end_minute)
     .removeSearch("interval", parameter_defaults.interval);
  document.location.href = uri.toString();
}
function go_home() {
  $("#page-field").val("::");
  $("#grouping option:selected").val(parameter_defaults.grouping);
  $("#resource option:selected").val(parameter_defaults.resource);
  $("#grouping_function").val(parameter_defaults.grouping_function);
  $("#start-minute").val(parameter_defaults.start_minute);
  $("#end-minute").val(parameter_defaults.end_minute);
  $("#interval").val(parameter_defaults.interval);
  $("#time-range").val(parameter_defaults.time_range);
  $("#filter-form").attr("action", "<%= home_url %>");
  $("#filter-form").submit();
}
function view_selected_pages(){
  <% if params[:time_range] == "date" %>
    $("#filter-form").attr("action", "<%= home_url %>");
  <% else %>
    $("#filter-form").attr("action", "<%= history_url %>");
  <% end %>
  $("#filter-form").submit();
}
function view_grouping(grouping){
  $("#grouping option:selected").val(grouping);
  $("#time-range").val(parameter_defaults.time_range);
  $("#filter-form").attr("action", "<%= home_url %>");
  $("#filter-form").submit();
}
function view_resource(resource){
  $("#resource option:selected").val(resource);
  $("#time-range").val(parameter_defaults.time_range);
  $("#filter-form").attr("action", "<%= home_url %>");
  $("#filter-form").submit();
}
function view_time_range(time_range){
  $("#time-range").val(time_range);
  if (time_range == "date") {
    $("#filter-form").attr("action", "<%= home_url %>");
  } else {
    $("#filter-form").attr("action", "<%= history_url %>");
  }
  $("#filter-form").submit();
}
$(document).ready(function(){
  $("#filter-form").on("submit", function(event) {
      event.preventDefault();
      submit_filter_form();
      });
  <% if params[:time_range] == "date" %>
  $("#datepicker").jdPicker({
          date_format: "YYYY-mm-dd",
          selectable: <%= raw Oj.dump(@days.map(&:to_s)) %>,
          error_out_of_range: "No data for that date."});
  <% end %>
  $("#page-field").autocomplete({
     serviceUrl: "<%= auto_complete_url_for_action_page %>",
     minChars: 1,
     maxHeight: 600,
     onSelect: function(value, data){ submit_filter_form(); }
   });
});
</script>

<div id="header">
  <%= form_tag(params.except(:id).merge(:action => ''), :method => :get, :id => "filter-form", :autocomplete => "off") do -%>
  <div id="filter">
    <input type="button" id="home-button" value="Logjam" onclick="go_home()"/>
    <% unless @only_one_app %>
    <p class="filter-widget">
      <%= label :filter, "application" %><br />
      <%= select_tag "app", options_for_select(@apps, @app), :onchange => "view_selected_pages()" %>
    </p>
    <% end %>
    <% unless @only_one_env %>
    <p class="filter-widget">
      <%= label :filter, "environment" %><br />
      <%= select_tag "env", options_for_select(@envs, @env), :onchange => "view_selected_pages()" %>
    </p>
    <% end %>
    <div class="filter-widget" id="time-range-widget">
      <ul>
        <li <%= raw html_attributes_for_time_range("date") %>>Date</li>
        <li <%= raw html_attributes_for_time_range("history") %>>History</li>
      </ul>
      <input id="time-range" type="hidden" name="time_range" value="<%= params[:time_range] %>" />
      <% if params[:time_range] == "date" %>
      <input size="11" type="text" value="<%= @date %>" id="datepicker" onchange="submit_filter_form()" />
      <% else %>
      <div><input size="11" type="text" value="<%= @date %>" id="datepicker" readonly="readonly" /></div>
      <% end %>
    </div>
    <p class="filter-widget">
      <%= label :filter, "page selector" %><br />
      <input id="page-field" class="autocomplete" name="page" size="45" type="text" value="<%= @page %>" onchange="view_selected_pages()" />
    </p>
    <ul class="filter-widget" id="grouping-widget">
      <li <%= raw html_attributes_for_grouping("page") %>>Pages</li>
      <li <%= raw html_attributes_for_grouping("request") %>>Requests</li>
    </ul>
    <p class="filter-widget invisible">
      <%= label :filter, "Show" %><br />
      <%= select_tag "grouping", grouping_options, :onchange => "submit_filter_form()" %>
    </p>
    <div class="menu">
      <label style="color:black;">Resource selector</label><br />
      <ul id="resource-type-widget">
        <li><a href="#" <%= raw html_attributes_for_resource_type(:time) %>>Time</a>
          <ul>
            <% collected_time_resources.reverse.each do |r| %>
            <li><a href="#" onclick="view_resource('<%=r%>')"><%= r.gsub(/_/," ") %></a></li>
            <% end %>
          </ul>
        </li>
        <% unless collected_call_resources.empty? %>
        <li><a href="#" <%= raw html_attributes_for_resource_type(:call) %>>Calls</a>
          <ul>
            <% collected_call_resources.reverse.each do |r| %>
            <li><a href="#" onclick="view_resource('<%=r%>')"><%= r.gsub(/_/," ") %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <% unless collected_memory_resources.empty? %>
        <li><a href="#" <%= raw html_attributes_for_resource_type(:memory) %>>Allocations</a>
          <ul>
            <% collected_memory_resources.reverse.each do |r| %>
            <li><a href="#" onclick="view_resource('<%=r%>')"><%= r.gsub(/_/," ") %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <% unless collected_heap_resources.empty? %>
        <li><a href="#" <%= raw html_attributes_for_resource_type(:heap) %>>Heap</a>
          <ul>
            <% collected_heap_resources.reverse.each do |r| %>
            <li><a href="#" onclick="view_resource('<%=r%>')"><%= r.gsub(/_/," ") %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
    <p class="filter-widget invisible" id="resource-widget">
      <%= label :filter, "with resource" %><br />
      <%= select_tag "resource", resource_options, :onchange => "submit_filter_form())" %>
    </p>
    <%- if params[:grouping] == "page" -%>
    <p class="filter-widget invisible" id="function-widget">
      <%= label :filter, "sorted by" %><br />
      <%= select_tag "grouping_function", grouping_functions, :onchange => "submit_filter_form()" %>
    </p>
    <%- end -%>
    <% if params[:start_minute] %>
      <input id="start-minute" name="start_minute" type="hidden" value="<%= params[:start_minute] %>" />
    <% end %>
    <% if params[:end_minute] %>
      <input id="end-minute" name="end_minute" type="hidden" value="<%= params[:end_minute] %>" />
    <% end %>
    <% if params[:interval] %>
      <input id="interval" name="interval" type="hidden" value="<%= params[:interval] %>" />
    <% end %>
    <%= check_box_tag "auto_refresh", "1", params[:auto_refresh]=="1", :onchange => "submit_filter_form()" %>Autorefresh
  </div>
  <% end -%>
</div>
