<%= content_for(:page_scripts) do %>
var parameters = <%= raw Oj.dump(params) %>,
    parameter_defaults = <%= raw Oj.dump(default_header_parameters) %>,
    self_url = '<%= raw self_url %>',
    home_url = '<%= raw home_url %>',
    history_url = '<%= raw history_url %>',
    <% if @days %>
      selectable_days = <%= raw Oj.dump(@days.map(&:to_s)) %>,
    <% end %>
    action_auto_complete_url = '<%= raw auto_complete_url_for_action_page %>',
    application_auto_complete_url = '<%= raw auto_complete_url_for_application_page %>';
<% end %>

<% action = action_name == "index" ? "" : action_name %>
<header id="logjam-header">
  <h1 class="logo">LOGJAM</h1>
  <% unless @only_one_app %>
    <div class="application-chooser filter-item">
        <select id="application-suggest">
          <% @apps.each do |item| %>
            <option value="<%= item %>"><%= item %></option>
          <% end %>
        </select>
      </label>
    </div>
  <% end %>

  <div class="date-chooser filter-item">
    <% if params[:time_range] == "date" %>
      <input tabindex="2" size="11" type="text" value="<%= @date %>" id="datepicker" onchange="submit_filter_form()" />
    <% else %>
      <input tabindex="2" size="11" type="text" value="<%= @date %>" id="datepicker" readonly="readonly" disabled="disabled" />
    <% end %>
  </div>

  <div class="namespace-chooser filter-item">
    <%
      unless params[:page].blank?
        value = params[:page]
      else
        value = 'by namespace or action'
      end
    %>
    <input tabindex="3" id="namespace-suggest" placeholder="<%= value %>" name="page" type="text">
    <% if value != 'by namespace or action' %>
      <i class="fa fa-times"></i>
    <% end %>
  </div>

  <% unless @only_one_env %>
    <div class="enviroment-chooser filter-item no-background">
      <div class="btn-group">
        <% @envs.map do |env| %>
          <% if params[:env] == env %>
            <button type="submit" class="btn active" onclick="view_selected_pages()" value="<%= env %>"><%= env %></button>
          <% else %>
            <button type="submit" class="btn" onclick="view_selected_pages()" value="<%= env %>"><%= env %></button>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</header>

<script>
  $(function(){
    initialize_header()
    /* choose the enviroment */
    $('.enviroment-chooser .btn', '#logjam-header').on('mousedown', function(event){
      $('#env').val( $(this).val() );
    });

    /* remove namespace filter */
    $('.namespace-chooser .fa.fa-times').on('click', function(){
      $('#page').val('');
      submit_filter_form();
    })

    /* fix for: https://github.com/skaes/logjam_core/issues/22 */
    $('#namespace-suggest').on('keyup blur', function(event){
      if((event.keyCode == 13 || event.type == 'blur') && event.target.value.length > 0) {
        $('#page').val(event.target.value);
        submit_filter_form();
      }
    })
  });
</script>

