<%= content_for(:page_scripts) do %>
var parameters = <%= raw Oj.dump(params) %>;
var parameter_defaults = <%= raw Oj.dump(default_header_parameters) %>;
var self_url = '<%= raw self_url %>';
var home_url = '<%= raw home_url %>';
var history_url = '<%= raw history_url %>';
  <% if @days %>
  var selectable_days = <%= raw Oj.dump(@days.map(&:to_s)) %>;
  <% end %>
var auto_complete_url = '<%= raw auto_complete_url_for_action_page %>';
$(document).ready(initialize_header);
<% end %>

<% action = action_name == "index" ? "" : action_name %>


<header id="logjam-header">
  <h1 class="logo"><a href="/dashboard">LOGJAM</a></h1>

  <% unless @only_one_app %>
    <div class="application-chooser">
      <span>:: <%= params[:app] || "Application" %> <i class="fa fa-angle-down"></i></span>
      <ul class="dropdown-menu">
        <% @apps.map do |app| %>
          <li class="dropdown-header"><a <% if params[:app] == app %>class="active"<% end %> href="/?app=<%= app %>"><i class="fa fa-angle-right"></i> <%= app %></a></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @only_one_env %>
    <div class="enviroment-chooser">
      <% @envs.map do |env| %>
        <% if params[:env] == env %>
          <button type="submit" class="btn active" onclick="view_selected_pages()" value="<%= env %>"><%= env %></button>
        <% else %>
          <button type="submit" class="btn" onclick="view_selected_pages()" value="<%= env %>"><%= env %></button>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="date-chooser">

      <% if params[:time_range] == "date" %>
        <input size="11" type="text" value="<%= @date %>" id="datepicker" onchange="submit_filter_form()" />
      <% else %>
        <input size="11" type="text" value="<%= @date %>" id="datepicker" readonly="readonly" disabled="disabled" />
      <% end %>
  </div>
</header>

<script>

  $(function(){
    $('.enviroment-chooser .btn', '#logjam-header').on('mousedown', function(event){
      $('#env').val( $(this).val() );
    })
  });

</script>
