<script type="text/javascript">
function go_home() {
  $("#page-field").val("::");
  $("#grouping option:selected").val("page");
  $("#resource option:selected").val("total_time");
  $("#start-minute").val("");
  $("#end-minute").val("");
  $("#interval").val("5");
  $("#filter-form").attr("action", "<%= home_url %>");
  $("#filter-form").submit();
}
function view_grouping(grouping){
  $("#grouping option:selected").val(grouping);
  $("#filter-form").attr("action", "<%= home_url %>");
  $("#filter-form").submit();
}
function view_resource(resource){
  $("#resource option:selected").val(resource);
  $("#filter-form").attr("action", "<%= home_url %>");
  $("#filter-form").submit();
}
$(document).ready(function(){
  $("#datepicker").jdPicker({
          date_format: "YYYY-mm-dd",
          selectable: <%= raw Oj.dump(@days.map(&:to_s)) %>,
          error_out_of_range: "No data for that date."});
});
var initial_page_value = <%= raw Oj.dump(@page) %>;
$(document).ready(function(){
  $("#page-field").autocomplete({
     source: "<%= auto_complete_url_for_action_page %>",
     minLength: 2,
     close: function(event, ui) { if (initial_page_value != $("#page-field").val() ) $("#filter-form").submit(); }
  });
});
</script>

<div id="header">
  <%= form_tag(params.except(:id), :method => :get, :id => "filter-form", :autocomplete => "off") do -%>
  <div id="filter">
    <input type="button" id="home-button" value="Logjam" onclick="go_home()"/>
    <% unless @only_one_app %>
    <p class="filter-widget">
      <%= label :filter, "application" %><br />
      <%= select_tag "app", options_for_select(@apps, @app), :onchange => "form.submit()" %>
    </p>
    <% end %>
    <% unless @only_one_env %>
    <p class="filter-widget">
      <%= label :filter, "environment" %><br />
      <%= select_tag "env", options_for_select(@envs, @env), :onchange => "form.submit()" %>
    </p>
    <% end %>
    <p class="filter-widget">
      <%= label :filter, "date" %><br />
      <input size="11" type="text" name="starts_at" value="<%= @date %>" id="datepicker" onchange="form.submit()" />
    </p>
    <p class="filter-widget">
      <%= label :filter, "page selector" %><br />
      <input id="page-field" class="ui-autocomplete-input" name="page" size="45" type="text" value="<%= @page %>" />
    </p>
    <ul class="filter-widget" id="grouping-widget">
      <li <%= raw html_attributes_for_grouping("page") %>>Pages</li>
      <li <%= raw html_attributes_for_grouping("request") %>>Requests</li>
    </ul>
    <p class="filter-widget invisible">
      <%= label :filter, "Show" %><br />
      <%= select_tag "grouping", grouping_options, :onchange => "form.submit()" %>
    </p>
    <div class="menu">
      <label style="color:black;">Resource selector</label><br />
      <ul id="resource-type-widget">
        <li><a href="#" <%= raw html_attributes_for_resource_type(:time) %>>Time</a>
          <ul>
            <% collected_time_resources.reverse.each do |r| %>
            <li><a href="#" onclick="view_resource('<%=r%>')"><%= r.gsub(/_/," ") %></a></li>
            <% end %>
          </ul>
        </li>
        <% unless collected_call_resources.empty? %>
        <li><a href="#" <%= raw html_attributes_for_resource_type(:call) %>>Calls</a>
          <ul>
            <% collected_call_resources.reverse.each do |r| %>
            <li><a href="#" onclick="view_resource('<%=r%>')"><%= r.gsub(/_/," ") %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <% unless collected_memory_resources.empty? %>
        <li><a href="#" <%= raw html_attributes_for_resource_type(:memory) %>>Allocations</a>
          <ul>
            <% collected_memory_resources.reverse.each do |r| %>
            <li><a href="#" onclick="view_resource('<%=r%>')"><%= r.gsub(/_/," ") %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <% unless collected_heap_resources.empty? %>
        <li><a href="#" <%= raw html_attributes_for_resource_type(:heap) %>>Heap</a>
          <ul>
            <% collected_heap_resources.reverse.each do |r| %>
            <li><a href="#" onclick="view_resource('<%=r%>')"><%= r.gsub(/_/," ") %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
    <p class="filter-widget invisible" id="resource-widget">
      <%= label :filter, "with resource" %><br />
      <%= select_tag "resource", resource_options, :onchange => "form.submit()" %>
    </p>
    <%- if params[:grouping] == "page" -%>
    <p class="filter-widget invisible" id="function-widget">
      <%= label :filter, "sorted by" %><br />
      <%= select_tag "grouping_function", grouping_functions, :onchange => "form.submit()" %>
    </p>
    <%- end -%>
    <% if params[:start_minute] %>
      <input id="start-minute" name="start_minute" type="hidden" value="<%= params[:start_minute] %>" />
    <% end %>
    <% if params[:end_minute] %>
      <input id="end-minute" name="end_minute" type="hidden" value="<%= params[:end_minute] %>" />
    <% end %>
    <% if params[:interval] %>
      <input id="interval" name="interval" type="hidden" value="<%= params[:interval] %>" />
    <% end %>
    <%= check_box_tag "auto_refresh", "1", params[:auto_refresh]=="1", :onchange => "form.submit()" %>Autorefresh
  </div>
  <% end -%>
</div>
