<script type="text/javascript">
function go_home() {
  jQuery('#page-field').val("::");
  jQuery('#grouping option:selected').val("page");
  jQuery('#resource option:selected').val("total_time");
  jQuery('#filter-form').submit();
}
function view_grouping(grouping){
  jQuery('#grouping option:selected').val(grouping);
  jQuery('#filter-form').submit();
}
function view_resource(resource){
  jQuery('#resource option:selected').val(resource);
  jQuery('#filter-form').submit();
}
jQuery(document).ready(function(){
  jQuery('#datepicker').jdPicker({date_format:"YYYY-mm-dd", selectable:[<%= Logjam.database_days(params[:app], params[:env]).map{|d| %Q|"#{d}"|}.join(', ') %>], error_out_of_range:"No data for that date."});
});
var initial_page_value = <%= @page.to_json %>;
jQuery(document).ready(function(){
  jQuery('#page-field').autocomplete({
     source: '<%= url_for(params.slice(:year, :month, :day, :app, :env).merge(:action => "auto_complete_for_controller_action_page")) %>',
     minLength: 2,
     close: function(event, ui) { if (initial_page_value != jQuery('#page-field').val() ) jQuery('#filter-form').submit(); }
  });
});
</script>
<div id='header'>
  <% form_tag({:action => :index}, :method => :get, :id => 'filter-form', :autocomplete => "off") do -%>
  <div id='filter'>
    <input type="button" id='home-button' value="Logjam" onclick="go_home()"/>
    <% unless Logjam.only_one_app? %>
    <p class='filter-widget'>
      <%= label :filter, 'application' %><br />
      <%= select_tag 'app', options_for_select(Logjam.database_apps, params[:app]), :onchange => "form.submit()" %>
    </p>
    <% end %>
    <% unless Logjam.only_one_env?(params[:app]) %>
    <p class='filter-widget'>
      <%= label :filter, 'environment' %><br />
      <%= select_tag 'env', options_for_select(Logjam.database_envs(params[:app]), params[:env]), :onchange => "form.submit()" %>
    </p>
    <% end %>
    <p class='filter-widget'>
      <%= label :filter, 'date' %><br />
      <input size="11" type="text" name="starts_at" value="<%= @date %>" id="datepicker" onchange="form.submit()" />
    </p>
    <p class='filter-widget'>
      <%= label :filter, 'page selector' %><br />
      <input id="page-field" class="ui-autocomplete-input" name="page" size="45" type="text" value="<%= h @page %>" />
    </p>
    <ul class='filter-widget' id='grouping-widget'>
      <li <%= html_attributes_for_grouping("page") %>>Pages</li>
      <li <%= html_attributes_for_grouping("request") %>>Requests</li>
    </ul>
    <p class='filter-widget' style="visibility:hidden;display:none;">
      <%= label :filter, 'Show' %><br />
      <%= select_tag 'grouping', options_for_select(Logjam::Resource.grouping_options, params['grouping']),
          :onchange => "form.submit()" %>
    </p>
    <div class='menu'>
      <label style="color:black;">Resource selector</label><br />
      <ul id='resource-type-widget'>
        <li><a href='#' <%= html_attributes_for_resource_type(:time) %>>Time</a>
          <ul>
            <% Logjam::Resource.time_resources.reverse.each do |r| %>
            <li><a href='#' onclick="view_resource('<%=r%>')"><%= h r.gsub(/_/,' ') %></a></li>
            <% end %>
          </ul>
        </li>
        <% unless Logjam::Resource.memory_resources.empty? %>
        <li><a href='#' <%= html_attributes_for_resource_type(:memory) %>>Memory</a>
          <ul>
            <% Logjam::Resource.memory_resources.reverse.each do |r| %>
            <li><a href='#' onclick="view_resource('<%=r%>')"><%= h r.gsub(/_/,' ') %></a></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <li><a href='#' <%= html_attributes_for_resource_type(:call) %>>Calls</a>
          <ul>
            <% Logjam::Resource.call_resources.reverse.each do |r| %>
            <li><a href='#' onclick="view_resource('<%=r%>')"><%= h r.gsub(/_/,' ') %></a></li>
            <% end %>
          </ul>
        </li>
        <!-- <td <%= html_attributes_for_resource_type("heap") %>>heap</td> -->
      </ul>
    </div>
    <p class='filter-widget' id='resource-widget' style="visibility:hidden;display:none;">
      <%= label :filter, 'with resource' %><br />
      <%= select_tag 'resource', options_for_select(Logjam::Resource.resource_options, params['resource']),
          :onchange => "form.submit()" %>
    </p>
    <%- if params[:grouping] == "page" -%>
    <p class='filter-widget' id='function-widget' style="visibility:hidden;display:none;">
      <%= label :filter, 'sorted by' %><br />
      <%= select_tag 'grouping_function', options_for_select(Logjam::Resource.grouping_functions, params['grouping_function']),
          :onchange => "form.submit()" %>
    </p>
    <%- end -%>
    <%- if params[:grouping] == "request" && Logjam::Resource.heap_resources.include?("heap_growth") -%>
    <p class='filter-widget' id='heap-growth-widget' style="visibility:hidden;display:none;">
      <%= label :filter, 'heap growth only' %><br />
      <%= check_box_tag 'heap_growth_only', "1", params['heap_growth_only']=="1", :onchange => "form.submit()" %>
    </p>
    <%- end -%>
    <input id="start-minute" name="start_minute" type="hidden" value="<%= h(params[:start_minute]) %>" />
    <input id="end-minute" name="end_minute" type="hidden" value="<%= h(params[:end_minute]) %>" />
  </div>
  <% end -%>
</div>
