<% pages.each do |page| -%>
  <tr class="full_stats">
    <td class="group-thing"><%= sometimes_link_grouping_result(page, :page, params.merge(:page => page.page)) %></td>
    <td class="number">
      <%= sometimes_link_number_of_requests(page, :page,
           clean_params(params.merge(:grouping => "request", :page => without_module(page.page)))) %>
    </td>
    <td class="number"><%= number_with_precision(page.avg(resource), :precision => 0, :delimiter => ",") %></td>
    <td class="number"><%= sometimes_link_stddev(page, resource) %></td>
    <td class="number"><%= number_with_delimiter(page.sum(resource).to_i) %></td>
  </tr>
<% end -%>

