<script type="text/javascript">
function sort_by(order){
  $('#grouping_function option:selected').val(order);
  $('#filter-form').submit();
}
</script>
<table class='full_stats'>
  <tr>
    <% resource = @dataset.resource
       resource_type = Logjam::Resource.resource_type(@dataset.resource)
       resource_name = hrn(resource)
       options = {:resource => resource} -%>
    <% if @dataset.grouping? -%>
      <th><%= @dataset.grouping %></th>
      <th <%= raw html_attributes_for_grouping_function("count","number of requests") %>>requests</th>
      <th <%= raw html_attributes_for_grouping_function("avg", "average") %>>avg<br/><%= resource_name %></th>
      <th <%= raw html_attributes_for_grouping_function("stddev", "standard deviation")%>>stddev<br/><%= resource_name %></th>
      <th <%= raw html_attributes_for_grouping_function("sum", "sum") %>>sum<br/><%= resource_name %></th>
      <% if @dataset.accumulates_time? -%>
        <% options.merge!(:resource_total => @dataset.sum(resource))-%>
        <th>% of overall<br/><%= raw resource_name.gsub(' ', '&nbsp;') %></th>
        <% if resource.to_sym != :total_time -%>
          <% options.merge!(:total_time => @dataset.sum("total_time")) -%>
          <th>% of<br/>total time</th>
        <% else %>
          <th <%= raw html_attributes_for_grouping_function("apdex", "apdex score") %>>apdex</th>
          <th>errors/<br/>warnings</th>
          <th>400s</th>
        <% end -%>
      <% end -%>
  </tr>
      <%= render "#{resource_type}_statistics", options.merge(:pages => @dataset.do_the_query) %>
    <% else -%>
      <th>minute</th>
      <th>page</th>
      <th class="sorted"><%= resource_name %></th>
  </tr>
      <%= render "request_statistics", options.merge(:requests => @dataset.do_the_query) %>
    <% end -%>
</table>
