<table class='full_stats'>
  <tr>
    <% resource = @dataset.resource
       resource_type = Logjam::Resource.resource_type(@dataset.resource)
       resource_name = resource.gsub('_', ' ')
       options = {:resource => resource} -%>
    <% if @dataset.grouping? -%>
      <th><%= @dataset.grouping %></th>
      <th>requests</th>
      <th>avg<br/><%= resource_name %></th>
      <th>stddev<br/><%= resource_name %></th>
      <th>sum<br/><%= resource_name %></th>
      <% if @dataset.accumulates_time? -%>
        <% options.merge!(:resource_total => @dataset.sum(resource))-%>
        <th>% of overall<br/><%= resource_name.gsub(' ', '&nbsp;') %></th>
        <% if resource.to_sym != :total_time -%>
          <% options.merge!(:total_time => @dataset.sum("total_time")) -%>
          <th>% of<br/>total time</th>
        <% else %>
          <th>apdex</th>
          <th>errors</th>
        <% end -%>
      <% end -%>
      <%= render "#{resource_type}_statistics", options.merge(:pages => @dataset.do_the_query) %>
    <% else -%>
      <th>minute</th>
      <th>page</th>
      <th>user</th>
      <th><%= h resource %></th>
      <%= render "request_statistics", options.merge(:requests => @dataset.do_the_query) %>
    <% end -%>
  </tr>
</table>
