<%
  resource = @dataset.resource
  resource_type = Logjam::Resource.resource_type(@dataset.resource)
  resource_name = hrn(resource)
  options = {:resource => resource}
  data = @dataset.do_the_query(@section, options)
  @display_maximums = @dataset.grouping? && data.any?{|page| page.has_max?(resource)}
-%>

<table class='full_stats'>
    <% if @dataset.grouping? -%>
    <thead>
      <tr>
        <th><%= @dataset.grouping_name %></th>
        <th class="right<%= sorted_by_grouping_function('count') %>" <%= raw html_attributes_for_grouping_function("count", "number of requests") %>>requests</th>
        <th class="right<%= sorted_by_grouping_function('avg') %>" <%= raw html_attributes_for_grouping_function("avg", "average") %>>avg <%= resource_name %></th>
        <th class="right<%= sorted_by_grouping_function('stddev') %>" <%= raw html_attributes_for_grouping_function("stddev", "standard deviation")%>>stddev <%= resource_name %></th>
        <% if @display_maximums %>
        <th class="right<%= sorted_by_grouping_function('max') %>" <%= raw html_attributes_for_grouping_function("max", "maximum") %>>max <%= resource_name %></th>
        <% end %>
        <th class="right<%=sorted_by_grouping_function('') %>" <%= raw html_attributes_for_grouping_function("sum", "sum") %>>sum <%= resource_name %></th>
        <% if @dataset.accumulates_time? -%>
          <% options.merge!(:resource_total => @dataset.sum(resource))-%>
          <th class="center<%= sorted_by_grouping_function('apdex') %>" <%= raw html_attributes_for_grouping_function("apdex", "apdex score") %>>apdex score</th>
          <% if backend? -%>
          <th class="right">errors/&#8203;warnings</th>
          <% end -%>
        <% end -%>
      </tr>
    </thead>
    <%= render "#{resource_type}_statistics", options.merge(:pages => data) %>

  <% else -%>
    <thead>
      <tr>
        <th class="left">severity</th>
        <th class="left">rc</th>
        <th class="left">time</th>
        <th class="left">action</th>
        <th class="right sorted"><%= resource_name %></th>
      </tr>
    </thead>
    <%= render "request_statistics", options.merge(:requests => data) %>

  <% end -%>
</table>
