<script type="text/javascript">
function sort_by(order){
  jQuery('#grouping_function option:selected').val(order);
  jQuery('#filter-form').submit();
}
function toggle_heap_growth_only(){
  jQuery('#heap_growth_only').attr("checked", '<%= params[:heap_growth_only]=="1" ? "": "checked" %>');
  jQuery('#filter-form').submit();
}
</script>
<table class='full_stats'>
  <tr>
    <% resource = @dataset.resource
       resource_type = Logjam::Resource.resource_type(@dataset.resource)
       resource_name = resource.gsub('_', ' ')
       options = {:resource => resource} -%>
    <% if @dataset.grouping? -%>
      <th><%= @dataset.grouping %></th>
      <th <%= html_attributes_for_grouping_function("count","number of requests") %>>requests</th>
      <th <%= html_attributes_for_grouping_function("avg", "average") %>>avg<br/><%= resource_name %></th>
      <th <%= html_attributes_for_grouping_function("stddev", "standard deviation")%>>stddev<br/><%= resource_name %></th>
      <th <%= html_attributes_for_grouping_function("sum", "sum") %>>sum<br/><%= resource_name %></th>
      <% if @dataset.accumulates_time? -%>
        <% options.merge!(:resource_total => @dataset.sum(resource))-%>
        <th>% of overall<br/><%= resource_name.gsub(' ', '&nbsp;') %></th>
        <% if resource.to_sym != :total_time -%>
          <% options.merge!(:total_time => @dataset.sum("total_time")) -%>
          <th>% of<br/>total time</th>
        <% else %>
          <th>apdex</th>
          <th>errors</th>
        <% end -%>
      <% end -%>
  </tr>
      <%= render "#{resource_type}_statistics", options.merge(:pages => @dataset.do_the_query) %>
    <% else -%>
      <th>minute</th>
      <th>page</th>
      <th>user</th>
      <th><%= h resource_name %></th>
      <% if resource_type == :memory %>
      <th class="clickable" onclick="toggle_heap_growth_only()">heap growth</th>
      <% end %>
  </tr>
      <%= render "request_statistics", options.merge(:requests => @dataset.do_the_query) %>
    <% end -%>
</table>
