<% resource_type = Logjam::Resource.resource_type(resource) -%>
<% requests.each do |request| -%>
  <% request_url = clean_url_for(:action => "show", :id => request["_id"]) -%>
  <tr class="clickable" data-href="<%= request_url %>" title="view request">
    <% severity = request["severity"] %>
    <td><%= severity_icon(severity, :title => nil) %> <%= format_severity(severity) %></td>
    <td><%= request["response_code"] %></td>
    <td><%= request_started_at(request) %></td>
    <td><%= request["page"] %></td>
    <% case resource_type
       when :time -%>
    <td class="number"><%= seconds_to_human((request[resource]||0) / 1000.0) %></td>
    <% when :call -%>
    <td class="number"><%= number_with_delimiter(request[resource].to_i) %></td>
    <% when :memory -%>
    <td class="number"><%= memory_number(request[resource]) %></td>
    <% else -%>
    <td class="number"><%= number_with_delimiter(request[resource].to_i) %></td>
    <% end -%>
  </tr>
<% end -%>
