<%= content_for(:page_scripts) do %>
page_context.parameters = <%= raw Oj.dump(params) %>;
page_context.parameter_defaults = <%= raw Oj.dump(default_header_parameters) %>;
page_context.self_url = '<%= raw self_url %>';
page_context.home_url = '<%= raw home_url %>';
page_context.history_url = '<%= raw history_url %>';
<% if @days %>
page_context.selectable_days = <%= raw Oj.dump(@days.map(&:to_s)) %>;
<% end %>
page_context.auto_complete_url = '<%= raw auto_complete_url_for_action_page %>';

$(document).ready(initialize_header);

$(function(){
  $('.tabs a', '#logjam-sidebar').on('click', function(event) {
    event.preventDefault();
    event.stopPropagation();

    $('.tabs a', '#logjam-sidebar').removeClass('active');
    $(this).addClass('active');
  })
})
<% end %>

<section id="logjam-sidebar">

  <ul class="logjam-menu">

    <li><a href="javascript:history.back();"><i class="fa fa-arrow-circle-left"></i> Overview</a></li>

  </ul>

</section>
