<%= content_for(:page_scripts) do %>
  var parameters = <%= raw Oj.dump(params) %>;
  var parameter_defaults = <%= raw Oj.dump(default_header_parameters) %>;
  var self_url = '<%= raw self_url %>';
  var home_url = '<%= raw home_url %>';
  var history_url = '<%= raw history_url %>';
<% if @days %>
  var selectable_days = <%= raw Oj.dump(@days.map(&:to_s)) %>;
  <% end %>
  var auto_complete_url = '<%= raw auto_complete_url_for_action_page %>';
  $(document).ready(initialize_header);

<% end %>

<a id="mobile-trigger">Menu</a>

<section id="logjam-sidebar" class="open">

  <% action = action_name == "index" ? "" : action_name %>
  <%= form_tag(params.except(:id).merge(:action => action), :method => :get, :id => "filter-form", :autocomplete => "off") do -%>

    <div class="sidebar-search">
      <input id="page-field" class="autocomplete" placeholder="Search Namespace / Action" name="page" size="45" type="text" value="<%= @page %>" onchange="view_selected_pages()" />
    </div>

    <div class="menu-wrapper">
      <div class="tabs">
        <a href="/<%= params[:year] %>/<%= params[:month] %>/<%= params[:day] %>/?app=<%= params[:app] %>&section=backend" data-menu="backend-menu" class="btn<% if params[:section] == 'backend' %> active<% end %>">Backend</a>
        <% klass = @dataset && @dataset.has_frontend? ? " enabled" : " disabled" %>
        <a href="/<%= params[:year] %>/<%= params[:month] %>/<%= params[:day] %>/frontend_overview/?app=<%= params[:app] %>&section=frontend" data-menu="frontend-menu" class="btn<% if params[:section] == 'frontend' %> active<% end %> <%=klass%>">Frontend</a>
      </div>

      <ul class="logjam-menu<% if params[:section] == 'backend' %> active<% end %>" id="backend-menu">

        <li>
          <a href="/<%= params[:year] %>/<%= params[:month] %>/<%= params[:day] %>/?app=<%= params[:app] %>&section=backend">
            <i class="fa fa-tachometer"></i>
            Dashboard
          </a>
        </li>

        <% klass = (@dataset && @dataset.live_stream?) ? "enabled" : "disabled" %>
        <li class="<%= klass %>">
          <%= link_to(fa_icon("play-circle", :title => "view live stream") + " Live View", clean_params(params.slice(:app,:env,:page).merge(:action => "live_stream"))) %>
        </li>

        <% klass = @dataset && @dataset.has_distribution_plot? ? "enabled" : "disabled" %>
        <li class="<%= klass %>">
          <% scatter_title = "view #{distribution_kind(@dataset.resource).to_s.gsub(/_/," ")} plot" %>
            <%= clean_link_to(fa_icon("signal flip-horizontal", :title => scatter_title) + " Distribution Plot" ,:page => without_module(@page), :action => distribution_kind(@dataset.resource)) %>
        </li>

        <% unless @only_one_app %>
          <% klass = @dataset && @dataset.has_callers? ? "enabled" : "disabled" %>
          <li class="<%= klass %>">
            <%= clean_link_to(fa_icon("phone", :title => "Show Callers") + " Callers", :action =>"callers") %>
          </li>
          <li>
            <%= clean_link_to(fa_icon("cloud", :title => "analyze call relationships") + " Call Relationships", :action => "call_relationships", :filter => @app) %>
          </li>
        <% end %>

        <li>
          <a <%= raw html_attributes_for_time_range("history") %>><i class="fa fa-history"></i> History</a>
        </li>
        <li class="dropdown"><a <%= raw html_attributes_for_resource_type(:time) %>><i class="fa fa-clock-o"></i> Time</a>
          <ul>
            <% collected_time_resources.reverse.each do |r| %>
              <li <% if params[:resource] == r %>class="active"<% end %>>
                <a onclick="view_resource('<%=r%>')"><%= hrn(r) %></a>
              </li>
            <% end %>
          </ul>
        </li>

        <% unless collected_call_resources.empty? %>
          <li class="dropdown"><a <%= raw html_attributes_for_resource_type(:call) %>><i class="fa fa-phone"></i> Calls</a>
            <ul>
              <% collected_call_resources.reverse.each do |r| %>
                <li><a onclick="view_resource('<%=r%>')"><%= hrn(r) %></a></li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% unless collected_memory_resources.empty? %>
          <li class="dropdown"><a <%= raw html_attributes_for_resource_type(:memory) %>><i class="fa fa-th"></i> Allocations</a>
            <ul>
              <% collected_memory_resources.reverse.each do |r| %>
                <li><a onclick="view_resource('<%=r%>')"><%= hrn(r) %></a></li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% unless collected_heap_resources.empty? %>
          <li class="dropdown"><a <%= raw html_attributes_for_resource_type(:heap) %>><i class="fa fa-bars"></i> Heap</a>
            <ul>
              <% collected_heap_resources.reverse.each do |r| %>
                <li><a onclick="view_resource('<%=r%>')"><%= hrn(r) %></a></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

      <ul class="logjam-menu<% if params[:section] == 'frontend' %> active<% end %>" id="frontend-menu">
        <li><i class="fa fa-bar-chart"></i> <%= clean_link_to("Overview", {:action => "frontend_overview"}, :title => "Overview") %></li>
        <li><i class="fa fa-warning"></i> <%= clean_link_to("Errors", {:action => "js_exception_types"}, :title => "Errors") %></li>
      </ul>

      <ul class="admin">
        <li>
          <i class="fa fa-file-text-o"></i> <%= clean_link_to("API Response", params.merge(:format => :json)) %>
        </li>
        <li>
          <i class="fa fa-cogs"></i> <%= link_to("Admin Space", admin_storage_path, :title => "admin stuff") %>
        </li>
      </ul>
  </div>

    <input type="hidden" id="app" name="app" value="<%= params[:app] %>" />
    <input type="hidden" id="env" name="env" value="<%= params[:env] %>" />
    <input type="hidden" id="auto_refresh" name="auto_refresh" value="<%= params[:auto_refresh] %>" />
    <input type="hidden" id="section" name="section" value="<%= params[:section] %>" />
    <input type="hidden" id="time-range" name="time_range" value="<%= params[:time_range] %>" />
    <input type="hidden" id="grouping" name="grouping" value="<%= params[:grouping]%>" />
    <input type="hidden" id="resource" name="resource" value="<%= params[:resource] %>" />
    <input type="hidden" id="grouping-function" name="grouping_function" value="<%= params[:grouping_function] %>" />
    <input type="hidden" id="start-minute" name="start_minute" value="<%= params[:start_minute] %>" />
    <input type="hidden" id="end-minute" name="end_minute" value="<%= params[:end_minute] %>" />
    <input type="hidden" id="interval" name="interval" value="<%= params[:interval] %>" />

  <% end %>

</section>

<script>

  $('.sidebar-collapse', '#logjam-sidebar').on('click', function(){
    $('#logjam-sidebar').toggleClass('closed');
  })

</script>
