<a id="mobile-trigger"><i class="fa fa-bars"></i></a>

<section id="logjam-sidebar" class="open">

  <%= form_tag(params.except(:id), :method => :get, :id => "filter-form", :autocomplete => "off") do -%>

  <% klass0 = @dataset.present? ? "enabled" : "disabled" %>

    <div class="menu-wrapper">
      <ul class="logjam-menu">
        <li>
          <%= link_to(fa_icon("home", :title => "Home") + " Home", {}, {:href=> '#', :onclick => "go_home()"}) %>
          <% unless @only_one_app %>
          <%= clean_link_to(fa_icon("list-ol", :title => "Leaders") + " Leaders", {:action => "leaders"}, :class => klass0) %>
          <% end %>
          <% unless Logjam.graylog_base_urls[@env.to_sym].blank? %>
          <%= link_to(image_tag("graylog.png", :title => "Graylog", :class => "graylog-icon") + " Graylog", graylog_uri(@app, @env, @page), :target => "_blank") %>
          <% end %>
        </li>
      </ul>

      <ul class="logjam-menu" id="backend-menu">

        <% klass = params[:section] == "backend" ? "enabled" : "disabled" %>
        <% active1, active2 = params[:grouping] == "request" ? %w(active inactive) : %w(inactive active) %>
        <li class="<%= klass %>">
          <%= clean_link_to(fa_icon("tachometer", :title => "Actions") + " Actions", {:id => nil, :action => 'index', :grouping => "page"}, :class => active2) %>
        </li>
        <li class="<%= klass %>">
          <%= clean_link_to(fa_icon("list", :title => "Requests") + " Requests", {:id => nil, :action => 'index', :section => "backend", :grouping => "request"}, :class => active1) %>
        </li>
      </ul>

      <ul class="logjam-menu separator">
        <% klass = (@dataset && @dataset.live_stream?) ? "enabled" : "disabled" %>
        <li class="<%= klass %>">
          <%= link_to(fa_icon("play-circle", :title => "view live stream") + " Livestream", action: "live_stream") %>
        </li>

        <li class="<%= klass0 %>">
          <%= clean_link_to(fa_icon("history", :title => "Performace History") + " History", action: "history") %>
        </li>

        <% klass = @dataset && @dataset.has_distribution_plot? ? "enabled" : "disabled" %>
        <% resource = @dataset ? @dataset.resource : Logjam::FilteredDataset::DEFAULTS[:resource] %>
        <li class="<%= klass %>">
          <%= clean_link_to(:page => without_module(@page), :action => distribution_kind(resource),
                            :section => ::Logjam::Resource.section(resource)) do %>
            <i class="fa fa-signal" style="transform:scale(-1,1) translate(-6px,-1px);"></i> Distribution Plot
          <% end %>
        </li>

        <% klass = @dataset && @dataset.has_histograms? ? "enabled" : "disabled" %>
        <li class="<%= klass %>">
          <%= clean_link_to(:page => without_module(@page), :action => :heatmaps, :section => :backend, :resource => 'total_time') do %>
          <i class="fa fa-map"></i> Heatmaps
          <% end %>
        </li>

        <% unless @only_one_app %>
          <% klass1 = (@dataset && @dataset.has_callers?) ? "enabled" : "disabled" %>
          <li class="<%= klass1 %>">
            <%= clean_link_to(:action => "callers", :kind => 'callers') do %>
            <i class="fa fa-phone"></i> Callers
            <% end %>
          </li>
          <li class="<%= klass0 %>">
            <%= clean_link_to(:action => "call_relationships", :filter => @app, :section => 'backend', :kind => 'callers') do %>
              <i class="fa fa-cloud"></i> Call Relationships
            <% end %>
          </li>
          <% klass2 = (@dataset && @dataset.has_senders?) ? "enabled" : "disabled" %>
          <li class="<%= klass2 %>">
            <%= clean_link_to(:action => "callers", :kind => 'senders') do %>
            <i class="fa fa-paper-plane"></i> Msg Senders
            <% end %>
          </li>
          <li class="<%= klass0 %>">
            <%= clean_link_to(:action => "call_relationships", :filter => @app, :section => 'backend', :kind => 'senders') do %>
              <i class="fa fa-inbox"></i> Msg Relationships
            <% end %>
          </li>
        <% end %>

        <li class="<%= klass0 %>">
          <%= clean_link_to(:action => "response_code_overview", :section => 'backend') do %>
            <i class="fa fa-reply"></i> Responses
          <% end %>
        </li>

        <li class="<%= klass0 %>">
          <%= clean_link_to(:action => "error_overview", :section => 'backend') do %>
            <i class="fa fa-warning"></i> Problems
          <% end %>
        </li>

        <li class="<%= klass0 %>">
          <%= clean_link_to(:action => "events", :section => 'backend') do %>
            <i class="fa fa-envelope"></i> Notifications
          <% end %>
        </li>

      </ul>

      <ul class="logjam-menu separator">
        <% dropdown_klass = @dataset.present? ? "dropdown enabled" : "dropdown disabled" %>
        <li class="<%= dropdown_klass %>"><a <%= raw html_attributes_for_resource_type(:time) %>><i class="fa fa-clock-o"></i> Backend Time</a>
          <ul>
            <% collected_time_resources.reverse.each do |r| %>
              <li <% if params[:resource] == r %>class="active"<% end %>>
                <a onclick="view_resource('<%=r%>')"><%= hrn(r) %></a>
              </li>
            <% end %>
          </ul>
        </li>

        <% unless collected_frontend_time_resources.empty? %>
          <li class="<%= dropdown_klass %>"><a <%= raw html_attributes_for_resource_type(:frontend) %>><i class="fa fa-clock-o"></i> Frontend Time</a>
            <ul>
              <% collected_frontend_time_resources.reverse.each do |r| %>
                <li <% if params[:resource] == r %>class="active"<% end %>>
                  <a onclick="view_resource('<%=r%>')"><%= hrn(r) %></a>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% unless collected_call_resources.empty? %>
          <li class="<%= dropdown_klass %>"><a <%= raw html_attributes_for_resource_type(:call) %>><i class="fa fa-phone"></i> Calls</a>
            <ul>
              <% collected_call_resources.reverse.each do |r| %>
                <li <% if params[:resource] == r %>class="active"<% end %>>
                  <a onclick="view_resource('<%=r%>')"><%= hrn(r) %></a>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% unless collected_memory_resources.empty? %>
          <li class="<%= dropdown_klass %>"><a <%= raw html_attributes_for_resource_type(:memory) %>><i class="fa fa-th"></i> Allocations</a>
            <ul>
              <% collected_memory_resources.reverse.each do |r| %>
                <li <% if params[:resource] == r %>class="active"<% end %>>
                  <a onclick="view_resource('<%=r%>')"><%= hrn(r) %></a>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% unless collected_heap_resources.empty? %>
          <li class="dropdown"><a <%= raw html_attributes_for_resource_type(:heap) %>><i class="fa fa-bars"></i> Heap</a>
            <ul>
              <% collected_heap_resources.reverse.each do |r| %>
                <li <% if params[:resource] == r %>class="active"<% end %>>
                  <a onclick="view_resource('<%=r%>')"><%= hrn(r) %></a>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% unless collected_dom_resources.empty? %>
          <li class="<%= dropdown_klass %>"><a <%= raw html_attributes_for_resource_type(:dom) %>><i class="fa fa-tree"></i> HTML</a>
            <ul>
              <% collected_dom_resources.reverse.each do |r| %>
              <li <% if params[:resource] == r %>class="active"<% end %>>
                <a onclick="view_resource('<%=r%>')"><%= hrn(r) %></a>
              </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

      <ul class="logjam-menu separator">
        <li class="<%= klass0 %>">
          <% if params[:auto_refresh] == "1" %>
            <%= clean_link_to(fa_icon("toggle-on") + " Autorefresh", :auto_refresh => 0) %>
          <% else %>
            <%= clean_link_to(fa_icon("toggle-off") + " Autorefresh", :auto_refresh => 1) %>
          <% end %>
        </li>
        <li class="<%= klass0 %>">
          <%= clean_link_to(fa_icon("file-text-o") + " API Response", :format => :json) %>
        </li>
        <li class="<%= klass0 %>">
          <%= clean_link_to(fa_icon("user-secret") + " User Agents", action: "user_agents") %>
        </li>
        <li class="<%= klass0 %>">
          <%= link_to(fa_icon("cogs") + " Admin Space", admin_storage_path) %>
        </li>
        <li class="<%= klass0 %>">
          <%= clean_link_to(fa_icon("database") + " DB Info", action: "database_information") %>
        </li>
        <% if url = Logjam.github_issue_url %>
        <li>
          <%= link_to(fa_icon("bug") + " Create Issue", Logjam.github_issue_url, target: "_blank") %>
        </li>
        <% end %>
      </ul>
  </div>

    <input type="hidden" id="app" name="app" value="<%= params[:app] %>" />
    <input type="hidden" id="env" name="env" value="<%= params[:env] %>" />
    <input type="hidden" id="page" name="page" value="<%= params[:page] %>" />
    <input type="hidden" id="auto_refresh" name="auto_refresh" value="<%= params[:auto_refresh] %>" />
    <input type="hidden" id="section" name="section" value="<%= params[:section] %>" />
    <input type="hidden" id="scale" name="scale" value="<%= params[:scale] %>" />
    <input type="hidden" id="time-range" name="time_range" value="<%= params[:time_range] %>" />
    <input type="hidden" id="grouping" name="grouping" value="<%= params[:grouping]%>" />
    <input type="hidden" id="resource" name="resource" value="<%= params[:resource] %>" />
    <input type="hidden" id="grouping-function" name="grouping_function" value="<%= params[:grouping_function] %>" />
    <input type="hidden" id="error-type" name="error_type" value="<%= params[:error_type] %>" />
    <input type="hidden" id="start-minute" name="start_minute" value="<%= params[:start_minute] %>" />
    <input type="hidden" id="end-minute" name="end_minute" value="<%= params[:end_minute] %>" />
    <input type="hidden" id="interval" name="interval" value="<%= params[:interval] %>" />
    <% if params[:above].present? %>
    <input type="hidden" id="above" name="above" value="<%= params[:above] %>" />
    <% end %>
    <% if params[:response_code].present? %>
    <input type="hidden" id="response-code" name="response_code" value="<%= params[:response_code] %>" />
    <% end %>
  <% end %>

</section>

<script>

  $(function(){
    $('#auto-refresh').on('click', function(){
      if( $('#auto_refresh').val() == '1' ) {
        $('#auto_refresh').val('0');
        submit_filter_form();
      }
      else {
        $('#auto_refresh').val('1');
        submit_filter_form();
      }
    })
  });

/*  $('.dropdown a', '#logjam-sidebar').on('click', function(event){
    event.preventDefault();
    $('ul', $(this).parent()).toggle();
  })*/

</script>
