<%
  section = params[:section] == 'frontend' ? :frontend : :backend
%>

<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard ">
    <h2><%= @title %> <%= hpn("for") %></h2>
    <div class="app-overview">
      <div class="item has-action">
        <table class='full_stats'>
          <tr><th>Apdex</th><th>Value/Request Count</th><th>Distribution over time (0-24h, 2 minute intervals)</th></tr>
          <% i = 0; rating = apdex_rating(@totals.apdex_score(section)) %>
          <tr class='full_stats apdex <%= rating %> '>
            <td><b>Score<br /><br />Goal<br /><br />Rating</b></td>
            <td class='number'><%= float_number(@totals.apdex_score(section)) %><br /><br />0.94<br /><br /><%= rating %></td>
            <td class='echart' id='<%= "apdex-chart-#{i+=1}" %>'>
              <%= render "apdex_chart", apdex_score: @minutes.apdex_score(section), i: i, height: 100 %>
            </td>
          </tr>
          <tr class='full_stats apdex happy'>
            <td><b>Happy</b><br />(t &lt; 0.1s)</td>
            <td class='number'><%= integer_number(@totals.apdex(section)["happy"]) %></td>
            <td class='echart' id='<%= "echart-#{i+=1}" %>'>
              <%= render "echart", exceptions: @minutes.apdex(section)["happy"], i: i, url: nil, height: 90 %>
            </td>
          </tr>
          <tr class='full_stats apdex satisfied'>
            <td><b>Satisfied</b><br />(t &lt; 0.5s)</td>
            <td class='number'><%= integer_number(@totals.apdex(section)["satisfied"]) %></td>
            <td class='echart' id='<%= "echart-#{i+=1}" %>'>
              <%= render "echart", exceptions: @minutes.apdex(section)["satisfied"], i: i, url: nil, height: 90 %>
            </td>
          </tr>
          <tr class='full_stats apdex tolerating'>
            <td><b>Tolerating</b><br />(0.5s &le; t &lt; 2s)</td>
            <td class='number'><%= integer_number(@totals.apdex(section)["tolerating"]) %></td>
            <td class='echart' id='<%= "echart-#{i+=1}" %>'>
              <%= render "echart", exceptions: @minutes.apdex(section)["tolerating"], i: i, url: nil, height: 90 %>
            </td>
          </tr>
          <tr class='full_stats apdex frustrated'>
            <td><b>Frustrated</b><br />(t &ge; 2s)</td>
            <td class='number'><%= integer_number(@totals.apdex(section)["frustrated"]) %></td>
            <td class='echart' id='<%= "echart-#{i+=1}" %>'>
              <%= render "echart", exceptions: @minutes.apdex(section)["frustrated"], i: i, url: nil, height: 90 %>
            </td>
          </tr>
        </table>
        <div class="action">
          <%= clean_link_to("action overview by apdex score", { :page => @page, :action => "totals_overview", :grouping => "page", :grouping_function => "apdex", :section => params['section'] }, :title => "action overview by apdex score") %>
        </div>
      </div>
    </div>
  </div>
</div>
