<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex">
      <div class="controls item">
        <h2><%= @title %> (<span id="call-count"><%= @data.size %></span>)</h2>
        <%= form_tag(params, :method => :get) do %>
          <%= hidden_field_tag :app, @app %>
          <%= hidden_field_tag :env, @env %>
          <%= hidden_field_tag :page, @page %>
          <span>Group by:</span>
          <%= select_tag 'group', options_for_select(callers_grouping_options, params[:group]), :onchange => "form.submit()" %>
          <span>Sort by:</span>
          <%= select_tag 'sort', options_for_select(%w(caller callee count), params[:sort]), :onchange => "form.submit()" %>
          <span>Filter:</span>
          <%= text_field_tag 'filter', params[:filter], :size => 30 %>
        <% end %>
        <%= form_tag(params.merge(:action => "call_graph"), :method => :get) do %>
          <%= hidden_field_tag :app, @app %>
          <%= hidden_field_tag :env, @env %>
          <%= hidden_field_tag :page, @page %>
          <%= hidden_field_tag :group, params[:group] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <%= hidden_field_tag :filter, params[:filter], :id => "graph-filter" %>
          <%= submit_tag "Graph it!", :id => "graph-button", :name => nil, :class => "btn" %>
        <% end %>
        <%= form_tag(params.merge(:format => :csv), :method => :get) do %>
          <%= hidden_field_tag :app, @app %>
          <%= hidden_field_tag :env, @env %>
          <%= hidden_field_tag :page, @page %>
          <%= hidden_field_tag :group, params[:group] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <%= submit_tag "Download CSV", :id => "download-button", :name => nil, :class => "btn" %>
        <% end %>
      </div>
    </div>

    <div class="flex">
      <div id="callers" class="item">
        <table class="full_stats" style="max-width: 500px;>
          <tr>
            <th>Caller</th>
            <th>Callee</th>
            <th class="right">#Calls</th>
          </tr>
          <% @data.each do |h| %>
            <% caller, callee, count = h.values_at(:source, :target, :count) %>
            <tr class='full_stats'>
              <td class="name"><%= caller %></td>
              <td class="name"><%= callee %></td>
              <td class="number"><%= integer_number(count) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var filter = $('#filter');

  function filter_fun(){
      var filter_text = filter.val();
      $('#callers #graph-filter').val(filter_text);
      // var json_link = $('#show-json a').attr("href");
      // var new_json_link = json_link.replace(/filter=[^&]*&/,'filter='+filter_text+'&');
      // $('#show-json a').attr("href", new_json_link);
      var filter_regexp = new RegExp(filter_text, 'i');
      var visible_count = 0;
      $('#callers .full_stats').each(function(){
          var caller = $(this).children(":first");
          var callee = caller.next();
          var text = caller.html() + "," + callee.html();
          if (text.match(filter_regexp)) {
            $(this).show();
            visible_count += 1;
          }
          else {
            $(this).hide();
          }
      });
      $('#callers #call-count').text(visible_count);
  };
  filter.keyup(filter_fun);
  $(document).ready(filter_fun);
</script>
