<%= render "header" %>

<div id='requests'>
  <h1><%= h @title %> <%= h @page %> (<%= @error_count %> total)</h1>
  <% if @page_count > 1 %>
  <div id='error_page_navigator'>
    Page <%= h @current_page %> of <%= h @page_count %> pages with <%= h @page_size %>
    errors on each page
    <ul>
    <% unless @current_page == @last_page %>
    | <li><%= link_to("next page", {:params => clean_params(params.merge(:offset => @next_page_offset))}) %></li>
    <% end %>
    <% unless @current_page == 1 %>
    | <li><%= link_to("previous page", {:params => clean_params(params.merge(:offset => @previous_page_offet))}) %></li>
    <% end %>
    <% unless @current_page == 1 %>
    | <li><%= link_to("first page", {:params => clean_params(params.merge(:offset => 0))}) %></li>
    <% end %>
    <% unless @current_page == @last_page %>
    | <li><%= link_to("last page", {:params => clean_params(params.merge(:offset => @last_page_offset))}) %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <table class='full_stats'>
    <tr><th>Severity</th><th>Time</th><th>Action</th><th>Exception</th></tr>
    <% @requests.each do |r| %>
    <tr class='full_stats'>
      <td style="text-align:center"><%= severity_icon(r["severity"]) %></td>
      <% error_link_params = {:params => clean_params(params.merge(:action =>"show", :id => r["_id"]))} %>
      <td><%= link_to(minute_to_human(r["minute"]), error_link_params, :title => "show request") %></td>
      <td><%= link_to(h(r["page"]), {:params => clean_params(params.merge(:action => "index", :grouping => "page", :page => r["page"]))}, :title => "show page stats") %></td>
      <td><%= link_to(extract_error(r["lines"]||[]), error_link_params, :title => "show request")  %></td>
    </tr>
    <% end %>
  </table>
</div>
