<%
  # TODO: talk about the definition
  overview = [
    @minutes.response["500"],
    @minutes.severity["4"],
    @minutes.severity["3"],
    @minutes.severity["2"],
    @minutes.js_exception_summary,
    @minutes.exception_summary
  ].inject(Hash.new(0)) do |memo, hash|
    hash.each do |minute, error_count|
      memo[minute] = memo[minute] + error_count
    end
    memo
  end
%>
<% i = 0 %>

<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex">
      <div class="item col-1">
        <h2>Problem Overview <%= hpn("for") %></h2>
        <table class="full_stats">
          <colgroup>
            <col span="1" style="width: 150px;">
            <col span="1" style="width: 50px;">
            <col span="1">
          </colgroup>
          <tbody>

            <tr class="full_stats">
              <% url = clean_url_for(:action => "errors", :error_type => "internal") %>
              <td></td>
              <td class="number"><%= integer_number(overview.values.sum) %></td>
              <td class="echart" id='<%= "echart-#{i+=1}" %>'>
                <%= render "echart", exceptions: overview, parent_selector: "#echart-#{i}", url: url, height: 100 %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="item col-1">
        <h2>Logged Severities</h2>
        <table class="full_stats">
          <colgroup>
            <col span="1" style="width: 150px;">
            <col span="1" style="width: 50px;">
            <col span="1">
          </colgroup>
          <thead>
            <tr>
              <th class="left">Type</th>
              <th class="right">Count</th>
              <th class="left">Distribution over time (0-24h, 2 minute intervals)</th>
            </tr>
          </thead>
          <tbody>
            <tr class="full_stats">
              <% url = clean_url_for(:action => "errors", :error_type => "logged_fatal") %>
              <td><%= link_to "Logged Fatals", url %></td>
              <td class="number"><%= link_to integer_number(@totals.severities[4]), url %></td>
              <td class="echart" id='<%= "echart-#{i+=1}" %>'>
                <%= render "echart", exceptions: @minutes.severity["4"], parent_selector: "#echart-#{i}", url: url %>
              </td>
            </tr>
            <tr class="full_stats">
              <% url = clean_url_for(:action => "errors", :error_type => "logged_error") %>
              <td><%= link_to "Logged Errors", url %></td>
              <td class="number"><%= link_to integer_number(@totals.severities[3]), url %></td>
              <td class="echart" id='<%= "echart-#{i+=1}" %>'>
                <%= render "echart", exceptions: @minutes.severity["3"], parent_selector: "#echart-#{i}", url: url %>
              </td>
            </tr>
            <tr class="full_stats">
              <% url = clean_url_for(:action => "errors", :error_type => "logged_warning") %>
              <td><%= link_to "Logged Warnings", url %></td>
              <td class="number"><%= link_to integer_number(@totals.severities[2]), url %></td>
              <td class="echart" id='<%= "echart-#{i+=1}" %>'>
                <%= render "echart", exceptions: @minutes.severity["2"], parent_selector: "#echart-#{i}", url: url %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="item col-1">
        <h2>Exceptions</h2>
        <table class="full_stats">
          <colgroup>
            <col span="1" style="width: 150px;">
            <col span="1" style="width: 50px;">
            <col span="1">
          </colgroup>
          <thead>
            <tr>
              <th class="left">Type</th>
              <th class="right">Count</th>
              <th class="left">Distribution over time (0-24h, 2 minute intervals)</th>
            </tr>
          </thead>
          <tbody>
            <tr class="full_stats">
              <% url = clean_url_for(:action => "errors", :error_type => "internal") %>
              <td><%= link_to "Internal Server Errors", url %></td>
              <td class="number"><%= link_to integer_number(@totals.response_codes[500]), url %></td>
              <td class="echart" id='<%= "echart-#{i+=1}" %>'>
                <%= render "echart", exceptions: @minutes.response["500"], parent_selector: "#echart-#{i}", url: url %>
              </td>
            </tr>
            <tr class="full_stats">
              <% url = clean_url_for(:action => "exceptions") %>
              <td><%= link_to "Backend Exceptions", url %></td>
              <td class="number"><%= link_to integer_number(@totals.exception_count), url %></td>
              <td class="echart" id='<%= "echart-#{i+=1}" %>'>
                <%= render "echart", exceptions: @minutes.exception_summary, parent_selector: "#echart-#{i}", url: url %>
              </td>
            </tr>
            <% if @dataset && @dataset.has_frontend? %>
            <tr class="full_stats">
              <% url = clean_url_for(:action => "js_exception_types", :section => :frontend) %>
              <td><%= link_to "Javascript Exceptions", url %></td>
              <td class="number"><%= link_to integer_number(@totals.js_exception_count), url %></td>
              <td class="echart" id='<%= "echart-#{i+=1}" %>'>
                <%= render "echart", exceptions: @minutes.js_exception_summary, parent_selector: "#echart-#{i}", url: url %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </item>
    </div>
  </div>
</div>
