<%= render "header" %>

<div id="requests">
  <h3><%= @title %> <%= hpn("for") %> (<%= integer_number(@error_count) %>)</h3>
  <%= render "result_navigator" %>
  <table class="full_stats">
    <tr><th>Severity</th><th>Time</th><th>Action</th><th>Log Excerpt</th></tr>
    <% @requests.each do |r| %>
    <tr class="full_stats">
      <% severity = r["severity"] %>
      <td><%= severity_icon(severity) %> <%= format_severity(severity) %></td>
      <%- error_link_params = { :action =>"show", :id => r["_id"] } -%>
      <%- error_text = extract_error(r["lines"]||[], params[:exception]) -%>
      <td><%= clean_link_to(request_started_at(r), error_link_params, :title => "show request") %></td>
      <td><%= clean_link_to(r["page"], { :action => "index", :grouping => "page", :page => r["page"] }, :title => "view summary") %></td>
      <td><%= clean_link_to(error_text, error_link_params, :title => "show request")  %></td>
    </tr>
    <% end %>
  </table>
</div>
