<%= render "header" %>

<style type="text/css">
.xlabel, .ylabel, .legend, .label, .rlabel, .tooltip {
  font: "8px sans-serif";
  stroke: none;
  fill: #000;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}
</style>

<div id='exceptions'>
  <h1><%= h @title %> <%= h @page %></h1>
  <table class='full_stats'>
    <tr><th>Type</th><th>Count</th><th>Distribution over time (0-24h, 2 minute intervals)</th></tr>
    <% i = 0 %>
    <tr class='full_stats'>
      <% url = url_for(clean_params(params.merge(:action => "errors", :error_type => "internal"))) %>
      <td><%= link_to "Internal Server Errors", url %></td>
      <td class='number'><%= link_to integer_number(@totals.response_codes[500]), url %></td>
      <td class='echart' id='<%= "echart-#{i+=1}" %>'>
        <%= render "echart", exceptions: @minutes.response["500"], i: i, url: url%>
      </td>
    </tr>
    <tr class='full_stats'>
      <% url = url_for(clean_params(params.merge(:action => "errors", :error_type => "logged_fatal"))) %>
      <td><%= link_to "Logged Fatals", url %></td>
      <td class='number'><%= link_to integer_number(@totals.severities[4]), url %></td>
      <td class='echart' id='<%= "echart-#{i+=1}" %>'>
        <%= render "echart", exceptions: @minutes.severity["4"], i: i, url: url%>
      </td>
    </tr>
    <tr class='full_stats'>
      <% url = url_for(clean_params(params.merge(:action => "errors", :error_type => "logged_error"))) %>
      <td><%= link_to "Logged Errors", url %></td>
      <td class='number'><%= link_to integer_number(@totals.severities[3]), url %></td>
      <td class='echart' id='<%= "echart-#{i+=1}" %>'>
        <%= render "echart", exceptions: @minutes.severity["3"], i: i, url: url%>
      </td>
    </tr>
    <tr class='full_stats'>
      <% url = url_for(clean_params(params.merge(:action => "errors", :error_type => "logged_error"))) %>
      <td><%= link_to "Logged Warnings", url %></td>
      <td class='number'><%= link_to integer_number(@totals.severities[2]), url %></td>
      <td class='echart' id='<%= "echart-#{i+=1}" %>'>
        <%= render "echart", exceptions: @minutes.severity["2"], i: i, url: url%>
      </td>
    </tr>
    <tr class='full_stats'>
      <% url = url_for(clean_params(params.merge(:action => "exceptions"))) %>
      <td><%= link_to "Logged Exceptions", url %></td>
      <td class='number'><%= link_to integer_number(@totals.exception_count), url %></td>
      <td class='echart' id='<%= "echart-#{i+=1}" %>'>
        <%= render "echart", exceptions: @minutes.exception_summary, i: i, url: url%>
      </td>
    </tr>
    <tr class='full_stats'>
      <% url = url_for(clean_params(params.merge(:action => "js_exception_types"))) %>
      <td><%= link_to "Javascript Execptions", url %></td>
      <td class='number'><%= link_to integer_number(@totals.js_exception_count), url %></td>
      <td class='echart' id='<%= "echart-#{i+=1}" %>'>
        <%= render "echart", exceptions: @minutes.js_exception_summary, i: i, url: url%>
      </td>
    </tr>
  </table>
</div>
