<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex">
      <div class="item">
        <h2>
          <%= @title %> <%= hpn("for") %> (<%= integer_number(@error_count) %>)
          <% if @sampling_rate_400s && @sampling_rate_400s < 1.0 %>
             <span class="warning-box">[400s sampled at <%= @sampling_rate_400s*100 %>%]</span>
          <% end %>
        </h2>
        <% if @dataset.request_collection_expired? %>
          <div class="message" %>
            The requests collection has expired.
          </div>
        <% else %>
        <%= render "result_navigator" %>
        <table class="full_stats">
          <tr><th>Severity</th><th>RC</th><th>Time</th><th>Action</th><th>Log Excerpt</th></tr>
          <% @requests.sort_by{|r| request_started_at(r)}.reverse.each do |r| %>
          <% request_url = clean_url_for(:action => "show", :id => r["_id"], :above => nil) -%>
          <tr class="full_stats clickable" data-href="<%= request_url %>" title="view request">
            <% severity = r["severity"] %>
            <td><%= severity_icon(severity, :title => nil) %> <%= format_severity(severity) %></td>
            <td><%= r["response_code"] %></td>
            <td><%= request_started_at(r) %></td>
            <td><%= r["page"] %></td>
            <td><%= extract_error(r["lines"]||[], params[:exception]) %></td>
          </tr>
          <% end %>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
