<%= render "header" %>

<div id='exceptions'>
  <h1><%= @title %> <%= @page %> (<%= @totals.exception_count %> total)</h1>
  <table class='full_stats'>
    <tr><th>Exception</th><th>Count</th><th>Distribution over time (0-24h, 2 minute intervals)</th></tr>
    <% @totals.exceptions.to_a.sort.each_with_index do |(e,c),i| %>
    <tr class='full_stats'>
      <% url = clean_url_for(:action => "errors", :error_type => "exceptions", :exception => e) %>
      <td><%= link_to e, url %></td>
      <td class='number'><%= link_to integer_number(c), url %></td>
      <td class='echart' id='<%= "echart-#{i}" %>'>
        <%= render "echart", exceptions: @minutes.exceptions[e], i: i, url: url%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
