<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex-columnar">
      <div id='exceptions' class="item">
        <h2><%= @title %> <%= hpn("for") %> (<%= integer_number(@totals.exception_count) %>)</h2>
        <table class='full_stats'>
          <colgroup>
            <col span="1" style="width: 50px;">
            <col span="1" style="width: 50px;">
            <col span="1">
          </colgroup>
          <thead>
            <tr>
              <th class="left">Exception</th>
              <th class="right">Count</th>
              <th class="middle">Distribution over time (0-24h, 2 minute intervals)</th>
            </tr>
          </thead>
          <tbody>
            <% @totals.exceptions.to_a.sort.each_with_index do |(e,c),i| %>
            <tr class='full_stats'>
              <% url = clean_url_for(:action => "errors", :error_type => "exceptions", :exception => e) %>
              <td><%= link_to e, url %></td>
              <td class='number'><%= link_to integer_number(c), url %></td>
              <% echart_id = "echart-#{i}" %>
              <td class='echart' id='<%= echart_id %>'>
                <%= render "echart", exceptions: @minutes.exceptions[e], parent_selector: "##{echart_id}", url: url, start_minute: nil, end_minute: nil, highlight: false %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id='soft_exceptions' class="item">
        <h2><%= @soft_title %> <%= hpn("for") %> (<%= integer_number(@soft_totals.soft_exception_count) %>)</h2>
        <table class='full_stats'>
          <colgroup>
            <col span="1" style="width: 50px;">
            <col span="1" style="width: 50px;">
            <col span="1">
          </colgroup>
          <thead>
            <tr>
              <th class="left">Exception</th>
              <th class="right">Count</th>
              <th class="middle">Distribution over time (0-24h, 2 minute intervals)</th>
            </tr>
          </thead>
          <tbody>
            <% @soft_totals.soft_exceptions.to_a.sort.each_with_index do |(e,c),i| %>
              <tr class='full_stats'>
                <% url = clean_url_for(:action => "errors", :error_type => "soft_exceptions", :exception => e) %>
                <td><%= link_to e, url %></td>
                <td class='number'><%= link_to integer_number(c), url %></td>
                <% echart_id = "soft-echart-#{i}" %>
                <td class='echart' id='<%= echart_id %>'>
                  <%= render "echart", exceptions: @soft_minutes.soft_exceptions[e], parent_selector: "##{echart_id}", url: url, start_minute: nil, end_minute: nil, highlight: false %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  adjustWidthOfFirstTwoColumns();
  $('.echart').each(function(){
    logjam_echart($(this).data().params);
  });
  $(window).on('resize', function(){
    $('.echart svg').remove();
    $('.echart').each(function(){
      logjam_echart($(this).data().params);
    });
  });
</script>
