<%= render "header" %>
<div id="logjam-container" class="xxl-view">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">

    <% if @dataset.empty? -%>

    <div class="app-overview">
      <div class="item">
        <p class="warning">Alas, thar be nothin' in t' database!</p>
      </div>
    </div>

    <% else -%>

      <div class="app-overview size-xxl-small-width size-xxl-no-flex">
        <%= render "frontend_apdex" %>
        <%= render "frontend_javascript_errors" %>
        <%= render "frontend_dom_nodes" %>
        <%= render "frontend_dom_style_nodes" %>
        <%= render "frontend_dom_script_nodes" %>
      </div>

      <div class="app-overview">
        <div class="item">
          <h2>showing <%= number_with_delimiter @dataset.count_requests(@section) %> of <%= number_with_delimiter @dataset.count(@section) %> requests</h2>
          <%= render "navicons" %>
          <%= render :partial => "resource_plot", :locals => {:width => 450, :height => 200} %>
        </div>
        <div class="item">
          <h2><%= @dataset.description %>
            <%- if params[:grouping] == "request" -%>
              between <%= minute_to_human(@dataset.start_minute) %>
              and <%= minute_to_human(@dataset.end_minute) %>
            <%- end -%>
          </h2>
          <ul class="navicons">
            <li><%= sometimes_link_all_pages %></li>
          </ul>
          <div id="pagetimes">
            <%= render "page_times" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</di>
