<%
  js_params = {
     container: "#histogram",
     interval: params[:interval].to_i,
     data: @histograms,
     scale: params[:scale]
  }
-%>

<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex">
      <div class="item col-1">
        <h2><%= @title %> <%= hpn("for") %></h2>
        <%= render "scale_toggle" %>
      </div>
    </div>
    <div class="flex">
      <div class="item col-1">
        <h2>Total Time</h2>
        <div id="histogram"></div>
        <script>
          (function(){
              var histogram_params = <%=raw Oj.dump(js_params) %>;
              $(function(){
                 logjam_heatmap_plot(histogram_params);
              });
              $(window, document).on('resize', function(){
                 $('#histogram').html('');
                 logjam_heatmap_plot(histogram_params);
              });
            })();
        </script>
      </div>
    </div>
  </div>
</div>
