<%= render "header" %>

<div id="perf-title">Performance History</div>

<div id="show-json"><%= link_to("show json", params.merge(:format => :json)) %></div>

<p id="spinner">Please stand by while we fetch your data ...
<%= image_tag("spinner24.gif") %>
</p>

<div id="request-history">
  <div id="apdex_score"></div>
  <div id="total_time"></div>
  <div id="request_count"></div>
  <div id="errors"></div>
  <div id="warnings"></div>
  <div id="exceptions"></div>
  <div id="time"></div>
  <div id="calls"></div>
  <div id="memory"></div>
  <div id="heap"></div>
</div>

<%
   js_params = {
     week_end_colors: Logjam::Resource.colors_with_transparency(0.6).except("total_time"),
     week_day_colors: Logjam::Resource.colors_with_transparency(0.9).except("total_time")
   }
-%>

<script type="text/javascript">
$.getJSON("<%= url_for(params.merge(:format => :json)) %>", function(response){
  var js_params = <%= raw Oj.dump(js_params) %>;
  response.data.forEach(function(d){ d.date = new Date(d.date); })
  if (response.data.length < 2) {
    $("#spinner").text("You have only " + response.data.length + " days of history. This view requires at least two days of data.");
  }
  else {
    logjam_history_bar_chart(response.data, "apdex_score", js_params);
    logjam_history_bar_chart(response.data, "request_count", js_params);
    logjam_history_bar_chart(response.data, "total_time", js_params);
    logjam_history_bar_chart(response.data, "errors", js_params);
    logjam_history_bar_chart(response.data, "warnings", js_params);
    logjam_history_bar_chart(response.data, "exceptions", js_params);
    for (g in response.resources) {
      response.resources[g].forEach(function(m){
         if (m != "total_time") {
           $("#" + g).append("<div id='" + m + "'></div>");
           logjam_history_bar_chart(response.data, m, js_params);
         }
      });
    }
    $("#spinner").hide();
  }
});
</script>
