<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex">
      <div class="item col-1" id="request-history">
        <h2><%= @section.to_s.upcase %> History <%= hpn("for") %></h2>
        <p id="spinner" class="spinner warning">Please stand by while we fetch your data ...<%= image_tag("spinner24.gif") %></p>
        <%= render "section_toggle" %>
        <% if @section.to_s == 'backend' %>
        <div id="apdex_score"></div>
        <div id="total_time"></div>
        <div id="request_count"></div>
        <div id="errors"></div>
        <div id="warnings"></div>
        <div id="exceptions"></div>
        <div id="time"></div>
        <div id="calls"></div>
        <div id="memory"></div>
        <div id="heap"></div>
        <% else %>
        <div id="papdex_score"></div>
        <div id="page_time"></div>
        <div id="xapdex_score"></div>
        <div id="ajax_time"></div>
        <div id="frontend"></div>
        <div id="dom"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%
  js_params = {
     section: @section.to_s,
     week_end_colors: Logjam::Resource.colors_with_transparency(0.6).except("total_time"),
     week_day_colors: Logjam::Resource.colors_with_transparency(0.9).except("total_time")
   }
-%>

<script type="text/javascript">
  $.getJSON("<%= url_for(params.merge(:format => :json, :section => @section)) %>", function(response){
    var js_params = <%= raw Oj.dump(js_params) %>;
    response.data.forEach(function(d){ d.date = new Date(d.date); })
    if (response.data.length < 2) {
      $("#spinner").text("Shiver me timbers! You have only " + response.data.length + " days worth o' data. This view requires at least two days o' data.");
    }
    else {
      if (js_params.section == 'frontend') {
        logjam_history_bar_chart(response.data, "papdex_score", js_params);
        logjam_history_bar_chart(response.data, "xapdex_score", js_params);
        logjam_history_bar_chart(response.data, "page_time", js_params);
        logjam_history_bar_chart(response.data, "ajax_time", js_params);
      } else {
        logjam_history_bar_chart(response.data, "apdex_score", js_params);
        logjam_history_bar_chart(response.data, "request_count", js_params);
        logjam_history_bar_chart(response.data, "total_time", js_params);
        logjam_history_bar_chart(response.data, "errors", js_params);
        logjam_history_bar_chart(response.data, "warnings", js_params);
        logjam_history_bar_chart(response.data, "exceptions", js_params);
      }
      for (g in response.resources) {
        response.resources[g].forEach(function(m){
           if (m != "total_time" && m != "page_time" && m != "ajax_time" && m != "frontend_time") {
             $("#" + g).append("<div id='" + m + "'></div>");
             logjam_history_bar_chart(response.data, m, js_params);
           }
        });
        }
      $("#spinner").hide();
    }
  });
</script>
