<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">

    <% if @dataset.empty? -%>

      <div class="app-overview">
        <div class="item">
          <p class="warning">Alas, thar be nothin' in t' database!</p>
        </div>
      </div>

    <% else -%>

      <div class="app-overview size-xxl-small-width size-xxl-no-flex size-xxl-flex-order-first">
        <% if @dataset.has_frontend? %>
          <%= render "frontend_apdex" %>
        <% end %>
        <%= render "apdex" %>
        <%= render "response_codes" %>
        <%= render "errors" %>
      </div>

      <div class="app-overview size-xxl-flex-order-second">
        <div class="item has-action">
          <h2>
            showing
            <%= number_with_delimiter @dataset.count_requests(@section) %> of <%= number_with_delimiter @dataset.count(@section) %> requests
          </h2>
          <%= render "navicons" %>
          <%= render :partial => "resource_plot", :locals => {:width => 450, :height => 150} %>
          <h2><%= @dataset.description %>
            <%- if params[:grouping] == "request" -%>
            between <%= minute_to_human(@dataset.start_minute) %>
            and <%= minute_to_human(@dataset.end_minute) %>
            <%- end -%>
          </h2>
          <div id="pagetimes">
            <%= render "page_times" %>
          </div>
          <div class="action">
          <%= sometimes_link_all_pages %>
          </div>
        </div>
      </div>

      <% if params[:grouping] == "page" -%>
        <div class="app-overview size-xxl-large-width size-xxl-no-flex size-xxl-flex-order-third">
          <h2>Resources (avg)</h2>
          <%= render "breakdown" %>
        </div>
      <% end -%>
    <% end -%>
  </div>
</div>
