<%= render "header" %>
<div id="show-json"><%= link_to("show json", params.merge(:format => :json)) %></div>
<div id="content">
  <div id="column-left" class="clear-left">
    <% if @dataset.empty? -%>
    <p class="warning">Dataset is empty.</p>
    <% else -%>
    <div id="graph-counts" class="clear-left">
      <p class="stats graph-counts-title">
        showing
        <%= number_with_delimiter @dataset.count_requests %> of <%= number_with_delimiter @dataset.count %> requests
        <%= link_to(triangle_right,
                    clean_params(params.merge(:page => without_module(@page),
                    :action => "enlarged_plot", :interval => 1)),
                    :title => "show enlarged plot") %>
      </p>
      <p class="navicons">
        <% if params[:interval].to_s == "5" %>
          <%= link_to(fa_icon("zoom-in", :title => "zoom in"),
                      clean_params(params.merge(:page => without_module(@page), :action => "index", :interval => 1))) %>
        <% else %>
          <%= link_to(fa_icon("zoom-out", :title => "zoom out"),
                      clean_params(params.merge(:page => without_module(@page), :action => "index", :interval => 5))) %>
        <% end %>
        <% if @dataset.has_distribution_plot? %>
          <% scatter_title = "show #{distribution_kind(@dataset.resource).to_s.gsub(/_/," ")} plot" %>
          <%= link_to(fa_icon("signal flip-horizontal", :title => scatter_title),
                      clean_params(params.merge(:page => without_module(@page),
                      :action => distribution_kind(@dataset.resource)))) %>
        <% end %>
        <% if @dataset.live_stream? -%>
        <%= link_to(fa_icon("facetime-video", :title => "show live stream"),
                    clean_params(params.slice(:app,:env,:page).merge(:action => "live_stream")),
                    {:target => "_blank"}) %>
        <% end -%>
      </p>
      <%= render :partial => "resource_plot", :locals => {:width => 1440/5*2, :height => 300} %>
    </div>
    <div id="plot-details" class="stats clear-left">
      <div id="plot-details-col1">
        <%= render "graph_stats" %>
        <%= render "apdex" %>
      </div>
      <div id="plot-details-col2">
        <%= render "response_codes" %>
      </div>
      <div id="plot-details-col3">
        <%= render "errors" %>
      </div>
    </div>
    <% end -%>
  </div>

  <% unless @dataset.empty? -%>
  <div id="column-right">
    <div id="pagetimes">
      <h3><%= @dataset.description %>
        <%- if params[:grouping] == "request" -%>
        between <%= minute_to_human(@dataset.start_minute) %>
        and <%= minute_to_human(@dataset.end_minute) %>
        <%- end -%>
        <%= sometimes_link_all_pages %>
      </h3>
      <%= render "page_times" %>
      <% if params[:grouping] == "page" && @dataset.single_page? -%>
      <div id="performance-break-down">
        <h4>Performance breakdown</h4>
        <%= render "breakdown" %>
      </div>
      <% end -%>
      <% if params[:grouping] == "page" && !@dataset.single_page? && @dataset.do_the_query.size <= 20 && params[:grouping_function] != "apdex" -%>
         <h4>Performance breakdown (percentages of <%= @dataset.short_description %>)</h4>
         <div id="performance-pie">
           <%= render "page_pie" %>
         </div>
      <% end -%>
    </div>
  </div>
  <% end -%>
</div>
