<%- content_for :page_scripts do -%>
var descriptions = <%= resource_descriptions %>;

function show_description() {
  var grouping = $('grouping').value;
  var resource = $('resource').value;
  var gfunction = $('grouping_function').value;

  if (grouping == 'request') {
    $('function-widget').hide();
    $('heap-growth-widget').show();
    $('description').innerHTML = descriptions[grouping][resource];
  }
  else {
    $('description').innerHTML = descriptions[grouping][resource][gfunction];
    $('function-widget').show();
    $('heap-growth-widget').hide();
  }
};

Event.observe(window, 'load', function() {show_description()});
<%- end -%>

<div id='left' class='clear-left'>
  <div id='filter'>
    <% form_tag({:action => :index}, :method => :get, :id => 'filter-form') do -%>
      <fieldset>
        <legend>LogJam for Rails</legend>
        <% unless Logjam.only_one_app? %>
        <p class='filter-widget'>
          <%= label :filter, 'application' %><br />
          <%= select_tag 'app', options_for_select(Logjam.database_apps, params[:app]), :onchange => "form.submit()" %>
        </p>
        <% end %>
        <% unless Logjam.only_one_env? %>
        <p class='filter-widget'>
          <%= label :filter, 'environment' %><br />
          <%= select_tag 'env', options_for_select(Logjam.database_envs, params[:env]), :onchange => "form.submit()" %>
        </p>
        <% end %>
        <% css_class = (Logjam.only_one_env? && Logjam.only_one_app?) ? 'filter-widget' : 'filter-widget-last' %>
        <p class='<%=css_class%>'>
          <%= label :filter, 'date' %><br />
          <%= select_tag 'starts_at', options_for_select(Logjam.database_days, @date.to_s(:db)[0..9]), :onchange => "form.submit()" %>
        </p>

        <% unless Logjam.only_one_env? && Logjam.only_one_app? %>
          <p class='clear-left'></p>
        <% end %>

        <p class='filter-widget'>
          <%= label :filter, 'plot timeslice' %><br />
          <%= select_tag 'interval', options_for_select(Logjam.durations.map{|i| [pluralize(i, 'minute'), i]}, params[:interval]), :onchange => "form.submit()" %>
        </p>
        <p class='filter-widget-last'>
          <%= label :filter, 'page name' %><br />
          <input id="controller_action_page" name="page" size="45" type="text" value="<%= h @page %>" />
          <div class="auto_complete" id="controller_action_page_auto_complete"></div>
          <script type="text/javascript">
          //<![CDATA[
          var controller_action_page_auto_completer = new Ajax.Autocompleter('controller_action_page', 'controller_action_page_auto_complete', '<%= h Logjam.base_url %>/logjam/auto_complete_for_controller_action_page', {method:'get', parameters: "year=<%= params[:year] %>&month=<%= params[:month]%>&day=<%= params[:day] %>"});
          //]]>
          </script>
        </p>

        <p class='clear-left'></p>

        <p class='filter-widget'>
          <%= label :filter, 'Show' %><br />
          <%= select_tag 'grouping', options_for_select(Logjam::Resource.grouping_options, params['grouping']),
              :onchange => "form.submit()" %>
        </p>
        <p class='filter-widget' id='resource-widget'>
          <%= label :filter, 'with' %><br />
          <%= select_tag 'resource', options_for_select(Logjam::Resource.resource_options, params['resource']),
              :onchange => "form.submit()" %>
        </p>
        <p class='filter-widget' id='function-widget'>
          <%= label :filter, 'sorted by' %><br />
          <%= select_tag 'grouping_function', options_for_select(Logjam::Resource.grouping_functions, params['grouping_function']),
              :onchange => "form.submit()" %>
        </p>
        <%- if Logjam::Resource.heap_resources.include?("heap_growth") -%>
          <p class='filter-widget-last' id='heap-growth-widget'>
            <%= label :filter, 'heap growth only' %><br />
            <%= check_box_tag 'heap_growth_only', "1", params['heap_growth_only']=="1", :onchange => "form.submit()" %>
          </p>
        <%- end -%>

        <p class='filter-widget clear-left' id='description'></p>
      </fieldset>
      <% end -%>
  </div>

  <% if @dataset.empty? -%>
    <p class='warning'>Dataset is empty.</p>
  <% else -%>
    <div id='graph-counts' class='clear-left'>
      <p class='stats'>
        <%= @dataset.date.strftime('%d-%b-%Y') %>: showing
        <%= number_with_delimiter @dataset.count_requests %> of <%= number_with_delimiter @dataset.count %> requests
        <%= link_to(image_tag("zoom_in.png", :alt => "enlarge plot", :title => "enlarge plot"),
                   {:params => clean_params(params.merge(:page => without_module(@page), :action => "enlarged_plot", :interval => 1))}) %>
        <% scatter_title = "#{distribution_kind(@dataset.resource).to_s.gsub(/_/,' ')} plot" %>
        <%= link_to(image_tag("scatter_plot.jpg", :alt => scatter_title, :title => scatter_title),
                   {:params => clean_params(params.merge(:page => without_module(@page), :action => distribution_kind(@dataset.resource)))}) %>
        <% if @dataset.live_stream? -%>
        <%= link_to(image_tag("stream.gif", :alt => "live stream", :title => "live stream"),
                    {:params =>clean_params(params.slice(:app,:env).merge(:action => "live_stream"))},
                    {:target => "_blank"}) %>
        <% end -%>
      </p>
      <%= render :partial => "resource_plot", :locals => {:width => 1440/5*2, :height => 300} %>
    </div>

    <%- if [:time, :memory].include? @plot_kind -%>
      <table class='stats clear-left' id='graph-stats'>
        <tr>
          <th></th>
          <th>avg</th>
          <th>stddev</th>
        </tr>
      <% @attributes.each do |attr| -%>
        <tr>
          <td><%= h(attr.to_s.sub(/_time$/, '')) %></td>
          <% if attr =~ /_time/ %>
            <td class='number'><%= time_number(@dataset.statistics(@plot_kind)["avg_#{attr}"].to_f) %></td>
            <td class='number'><%= time_number(@dataset.statistics(@plot_kind)["std_#{attr}"].to_f) %></td>
          <% else %>
            <td class='number'><%= memory_number(@dataset.statistics(@plot_kind)["avg_#{attr}"].to_f) %></td>
            <td class='number'><%= memory_number(@dataset.statistics(@plot_kind)["std_#{attr}"].to_f) %></td>
          <% end %>
        </tr>
      <% end -%>
      </table>
      <div id='distribution-plot'>
        <%= render(:partial => 'time_quintiles') if @plot_kind == :time %>
      </div>
    <%- end -%>

  <% end -%>
  <div class='clear-left'></div>
</div>

<% unless @dataset.empty? -%>
<div id='column-right'>
  <div id='pagetimes'>
    <h3><%= @dataset.description %></h3>
    <%= render "page_times" %>
    <% if params[:grouping] == 'page' && @dataset.single_page? -%>
    <div id='performance-break-down>'>
      <h3>Performance breakdown</h3>
      <%= render "breakdown" %>
    </div>
    <% end %>
  </div>
</div>
<% end -%>
