<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">

    <div class="app-overview">

      <%= render "frontend_apdex" %>
      <%= render "apdex" %>
      <%= render "response_codes" %>
      <%= render "errors" %>

    </div>

    <div class="app-overview">

      <div class="item">
        <% if @dataset.empty? -%>
        <p class="warning">Dataset is empty.</p>
        <% else -%>
          <h2>
            showing
            <%= number_with_delimiter @dataset.count_requests %> of <%= number_with_delimiter @dataset.count %> requests
          </h2>
          <%= render "navicons" %>
          <%= render :partial => "resource_plot", :locals => {:width => 450, :height => 150} %>
        <% end -%>
        <div class="app-overview detail-table">
          <% unless @dataset.empty? -%>
          <div class="item">
            <div id="pagetimes">
              <h2><%= @dataset.description %>
                <%- if params[:grouping] == "request" -%>
                between <%= minute_to_human(@dataset.start_minute) %>
                and <%= minute_to_human(@dataset.end_minute) %>
                <%- end -%>
                <%= sometimes_link_all_pages("(show all actions)") %>
              </h2>
              <%= render "page_times" %>
            </div>
          </div>
          <% end -%>
        </div>
      </div>
    </div>

    <% if params[:grouping] == "page" -%>
      <h2>Resources (avg)</h2>
      <div id="performance-break-down" class="app-overview">
        <%= render "breakdown" %>
      </div>
    <% end -%>
</div>
