<%= render "header" %>

<div id='requests'>
  <h1><%= h @title %> <%= h @page %> (<%= @error_count %> total)</h1>
  <% if @page_count > 1 %>
  <div id='error_page_navigator'>
    Page <%= h @current_page %> of <%= h @page_count %> pages
    <ul>
    <% unless @current_page == @last_page %>
    | <li><%= link_to("next page", clean_params(params.merge(:offset => @next_page_offset))) %></li>
    <% end %>
    <% unless @current_page == 1 %>
    | <li><%= link_to("previous page", clean_params(params.merge(:offset => @previous_page_offset))) %></li>
    <% end %>
    <% unless @current_page == 1 %>
    | <li><%= link_to("first page", clean_params(params.merge(:offset => 0))) %></li>
    <% end %>
    <% unless @current_page == @last_page %>
    | <li><%= link_to("last page", clean_params(params.merge(:offset => @last_page_offset))) %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <table class='full_stats'>
    <tr><th>Time</th><th>Action</th><th>Description</th></tr>
    <% @exceptions.each do |r| %>
    <tr class='full_stats'>
      <% error_link_params = clean_params(params.merge(:action =>"show", :id => Logjam::JsExceptions.request_id_from_exception(r)))%>
      <% logjam_action_link = r['logjam_action'].to_s.sub(/\A(.+?)::([^#]*)\z/, '\1') %>
      <td><%= link_to(minute_to_human(r["minute"]), error_link_params, :title => "show exception") %></td>
      <td><%= link_to(r['logjam_action'], clean_params(params.merge(:action => "index", :grouping => "page", :page => logjam_action_link)), :title => "show page stats") %></td>
      <td><%= r["description"] %></td>
    </tr>
    <% end %>
  </table>
</div>
