<%= render "header" %>

<div id='requests'>
  <h1><%= @title %> <%= @page %> (<%= @error_count %> total)</h1>
  <% if @page_count > 1 %>
  <div id='error_page_navigator'>
    Page <%= @current_page %> of <%= @page_count %> pages
    <ul>
    <% unless @current_page == @last_page %>
    | <li><%= clean_link_to("next page", :offset => @next_page_offset) %></li>
    <% end %>
    <% unless @current_page == 1 %>
    | <li><%= clean_link_to("previous page", :offset => @previous_page_offset) %></li>
    <% end %>
    <% unless @current_page == 1 %>
    | <li><%= clean_link_to("first page", :offset => 0) %></li>
    <% end %>
    <% unless @current_page == @last_page %>
    | <li><%= clean_link_to("last page", :offset => @last_page_offset) %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <table class='full_stats'>
    <tr><th>Time</th><th>Action</th><th>Description</th></tr>
    <% @exceptions.each do |r| %>
    <tr class='full_stats'>
      <% error_link_params = { :action =>"show", :id => Logjam::JsExceptions.request_id_from_exception(r) } %>
      <% logjam_action_link = r['logjam_action'].to_s.sub(/\A(.+?)::([^#]*)\z/, '\1') %>
      <td><%= clean_link_to(minute_to_human(r["minute"]), error_link_params, :title => "show exception") %></td>
      <td><%= clean_link_to(r['logjam_action'], { :action => "index", :grouping => "page", :page => logjam_action_link }, :title => "show page stats") %></td>
      <td><%= r["description"] %></td>
    </tr>
    <% end %>
  </table>
</div>
