<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex">
      <div id="exceptions" class="item">
        <h2><%= @title %> <%= hpn("for") %> (<%= integer_number(@totals.js_exception_count) %>)</h2>
        <table class="full_stats">
          <colgroup>
            <col span="1" style="width: 150px;">
            <col span="1" style="width: 50px;">
            <col span="1">
          </colgroup>
          <thead>
            <tr>
              <th>Exception</th>
              <th>Count</th>
              <th class="echart">Distribution over time (0-24h, 2 minute intervals)</th>
            </tr>
          </thead>
          <tbody>
            <% @totals.js_exceptions.to_a.sort.each_with_index do |(e,c),i| %>
            <tr class="full_stats">
              <% url = clean_url_for(:action => "js_exceptions", :js_exception => e) %>
              <% key = Logjam::JsExceptions.description_from_key(e) %>
              <td class="js-exception"><%= link_to key, url, :title => key %></td>
              <td class="number"><%= link_to integer_number(c), url %>
              <td class="echart" id='<%= "echart-#{i}" %>'>
                <%= render "echart", exceptions: @minutes.js_exceptions[e], parent_selector: "echart-#{i}", url: url%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
