<%= render "header" %>

<style type="text/css">
.xlabel, .ylabel, .legend, .label, .rlabel, .tooltip {
  font: "8px sans-serif";
  stroke: none;
  fill: #000;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}
</style>

<div id='exceptions'>
  <h1><%= h @title %> <%= h @page %> (<%= @totals.js_exception_count %> total)</h1>
  <table class='full_stats'>
    <tr><th>Exception</th><th>Count</th><th>Distribution over time (0-24h, 2 minute intervals)</th></tr>
    <% @totals.js_exceptions.to_a.sort.each_with_index do |(e,c),i| %>
    <tr class='full_stats'>
      <% url = url_for(clean_params(params.merge(:action => "js_exceptions", :js_exception => e))) %>
      <td><%= link_to Logjam::JsExceptions.description_from_key(e), url %></td>
      <td class='number'><%= link_to integer_number(c), url %>
      <td class='echart' id='<%= "echart-#{i}" %>'>
        <%= render "echart", exceptions: @minutes.js_exceptions[e], i: i, url: url%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
