<script type="text/javascript" src="/javascripts/protovis-r3.2.js"></script>
<div id='request-time-distribution' align="center">
  <script type="text/javascript+protovis">

<%
   resources, colors, data = [], [], {}
   max_x = 100
   max_y = 1
   @resources.each do |r|
     rd = @dataset.histogram_data(r)
     next if rd == []
     resources << r
     colors << Logjam::Resource.color(r,0.7)
     data[r] = rd
     max_x = [max_x, rd.map(&:first).max].max
     max_y = [max_y, rd.map(&:second).max].max
   end
%>

var
    w = 700,
    h  = 500,
    x = pv.Scale.log(<%= @xmin %>, <%= max_x %>).range(0, w).nice(),
    y = pv.Scale.log(1, <%= max_y %>).range(0, h).nice(),
    legend = <%= resources.to_json.gsub(/_/,' ') %>,
    colors = pv.colors(<%= colors.to_json %>);

var vis = new pv.Panel()
    .width(w)
    .height(h)
    .margin(80)
    .strokeStyle("#999");

vis.add(pv.Rule)
    .data(x.ticks())
    .strokeStyle("#999")
    .left(x)
    .bottom(function(d) (this.index % 9 == 0) ? -10 : -5)
    .height(function(d) (this.index % 9 == 0) ? 10 : 5)
  .anchor("bottom").add(pv.Label)
    .visible(function(d) this.index % 9 == 0)
    .text(function(d) d);

vis.add(pv.Rule)
    .data(y.ticks())
    .strokeStyle("#999")
    .bottom(y)
    .left(function(d) (this.index % 9 == 0) ? -10 : -5)
    .width(function(d) (this.index % 9 == 0) ? 10 : 5)
  .anchor("left").add(pv.Label)
    .visible(function(d) this.index % 9 == 0)
    .text(function(d) d);

<% resources.each_with_index do |r,i| -%>
vis.add(pv.Dot)
    .data(<%= data[r].to_json %>)
    .left(function(d) x(d[0]))
    .bottom(function(d) y(d[1]))
    .lineWidth(1)
    .size(9)
    .strokeStyle("<%= colors[i] %>")
    .fillStyle("<%= colors[i] %>");
<% end %>

vis.add(pv.Dot)
    .data(legend)
    .left(function(d) w-100)
    .bottom(function(d) h-20-12*this.index)
    .lineWidth(1)
    .size(16)
    .strokeStyle(colors)
    .fillStyle(colors)
    .add(pv.Label)
       .textBaseline("middle")
       .textMargin(7)
       .text(function() legend[this.index]);

vis.render();

  </script>
</div>
