<%= render "header" %>
<div id='distribution-plot'>
  <script type="text/javascript+protovis">

<%
   available_shapes = ["circle", "square", "diamond", "triangle"]
   num_shapes = available_shapes.length
   resources, colors, data, shapes = [], [], {}, []
   max_x = 100
   max_y = 1
   i = -1
   @resources.reverse.each do |r|
     rd = @dataset.histogram_data(r)
     next if rd == []
     resources << r
     colors << Logjam::Resource.color(r,0.7)
     shapes << (r == "gc_time" ? "cross" : available_shapes[(i+=1) % num_shapes])
     data[r] = rd
     max_x = [max_x, rd.map(&:first).max].max
     max_y = [max_y, rd.map(&:second).max].max
   end
%>

var
    w = 700,
    h  = 500,
    x = pv.Scale.log(<%= @xmin %>, <%= max_x %>).range(0, w).nice(),
    y = pv.Scale.log(1, <%= max_y %>).range(0, h).nice(),
    legend = <%= raw resources.to_json.gsub(/_/,' ') %>,
    colors = pv.colors(<%= raw colors.to_json %>),
    shapes = <%= raw shapes.to_json %> ;

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .margin(80)
    .strokeStyle("#999");

/* Title */
vis.add(pv.Label)
    .left(w/2)
    .top(-40)
    .font("16px sans-serif")
    .textAlign("center")
    .textBaseline("middle")
    .text("<%= @xlabel %> distribution on <%= h @dataset.date %> for '<%= h @dataset.page_description %>'");

/* X-label */
vis.add(pv.Label)
    .left(w/2)
    .bottom(-40)
    .font("12px sans-serif")
    .textAlign("center")
    .textBaseline("middle")
    .text("<%= @xlabel %>");

/* X-axis and ticks. */
vis.add(pv.Rule)
    .data(x.ticks())
    .strokeStyle("#999")
    .left(x)
    .bottom(function(d) (this.index % 9 == 0) ? -10 : -5)
    .height(function(d) (this.index % 9 == 0) ? 10 : 5)
  .anchor("bottom").add(pv.Label)
    .visible(function(d) this.index % 9 == 0)
    .text(function(d) d);

/* Y-label */
vis.add(pv.Label)
    .left(-50)
    .bottom(h/2)
    .font("12px sans-serif")
    .textAlign("center")
    .textBaseline("middle")
    .textAngle(-Math.PI / 2)
    .text("Number of requests");

/* Y-axis and ticks. */
vis.add(pv.Rule)
    .data(y.ticks())
    .strokeStyle("#999")
    .bottom(y)
    .left(function(d) (this.index % 9 == 0) ? -10 : -5)
    .width(function(d) (this.index % 9 == 0) ? 10 : 5)
  .anchor("left").add(pv.Label)
    .visible(function(d) this.index % 9 == 0)
    .text(function(d) d);

<% resources.each_with_index do |r,i| -%>
vis.add(pv.Dot)
    .data(<%= data[r].to_json %>)
    .left(function(d) x(d[0]))
    .bottom(function(d) y(d[1]))
    .lineWidth(1)
    .size(9)
    .shape(shapes[<%= i %>])
    .strokeStyle("<%= raw colors[i] %>")
    .fillStyle("<%= raw colors[i] %>");
<% end %>

/* Legend. */
vis.add(pv.Dot)
    .data(legend)
    .left(function(d) w-100)
    .bottom(function(d) h-20-12*this.index)
    .lineWidth(1)
    .size(16)
    .strokeStyle(colors)
    .fillStyle(colors)
    .shape(function() shapes[this.index])
    .add(pv.Label)
       .textBaseline("middle")
       .textMargin(7)
       .text(function() legend[this.index]);

vis.render();

  </script>
</div>
