<%= render "header" %>
<% resource = @dataset.resource
   resource_type = Logjam::Resource.resource_type(@dataset.resource)
   resource_name = hrn(resource)
   options = {:resource => resource}
-%>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex">
      <div class="item" id='requests'>
        <h2> Requests <%= hpn("for") %>
          between <%= minute_to_human(@dataset.start_minute) %>
          and <%= minute_to_human(@dataset.end_minute) %>,
          sorted by <%= resource_name %>
        </h2>
                <div>
          <table class="full_stats">
            <colgroup>
              <col span="1" style="width: 10%;">
              <col span="1">
            </colgroup>
            <tbody>
              <tr class="full_stats">
                <% url = clean_url_for(:action => "request_overview") %>
                <td><b>Timeline</b><br>
                  <% if params[:start_minute].to_i>0 || (1..1439).include?(params[:end_minute].to_i) %>
                    <%= link_to(fa_icon("volume-up") + " Show all", clean_url_for(:action => "request_overview", :start_minute => nil, :end_minute => nil)) %>
                  <% end %>
                </td>
                <td class="echart" id="timeline">
                  <%= render "echart", exceptions: @timeline, parent_selector: "#timeline", url: url, height: 50, start_minute: params[:start_minute], end_minute: params[:end_minute] %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <% if @request_count == 0 %>
        <%= render "no_requests_found" %>
        <% else %>
        <%= render "result_navigator" %>
        <table class='full_stats'>
          <tr><th>severity</th><th>rc</th><th>time</th><th>action</th><th class="sorted"><%= resource_name %></th></tr>
          <%= render "request_statistics", options.merge(:requests => @requests) %>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
