<%= render "header" %>
<% resource = @dataset.resource
   resource_type = Logjam::Resource.resource_type(@dataset.resource)
   resource_name = hrn(resource)
   options = {:resource => resource}
-%>
<div id='requests'>
  <h3> Requests <%= hpn("for") %>
    between <%= minute_to_human(@dataset.start_minute) %>
    and <%= minute_to_human(@dataset.end_minute) %>,
    sorted by <%= resource_name %>
  </h3>
  <%= render "result_navigator" %>
  <table class='full_stats'>
    <tr><th>minute</th><th>page</th><th class="sorted"><%= resource_name %></th></tr>
    <%= render "request_statistics", options.merge(:requests => @requests) %>
  </table>
</div>
