<%= render "header" %>

<style type="text/css">
.xlabel, .ylabel, .legend, .label, .rlabel, .tooltip {
  font: "8px sans-serif";
  stroke: none;
  fill: #000;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}
</style>

<div id='exceptions'>
  <h1><%= h @title %> <%= h @page %></h1>
  <table class='full_stats'>
    <tr><th>Type</th><th>Count</th><th>Distribution over time (0-24h, 2 minute intervals)</th></tr>
    <% @totals.response_codes.keys.sort.each_with_index do |rc,i| %>
    <tr class='full_stats'>
      <% url = url_for(clean_params(params.merge(:action => "response_codes", :response_code => rc))) %>
      <td><%= link_to rc, url %></td>
      <td class='number'><%= link_to integer_number(@totals.response_codes[rc]), url %></td>
      <td class='echart' id='<%= "echart-#{i+=1}" %>'>
        <%= render "echart", exceptions: @minutes.response[rc.to_s], i: i, url: url%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
