<%= render "header" %>

<div id='single-request'>

<div id='request' style="margin-bottom:5px;">
<b>Request details for</b> <em><%= h @request["page"] -%></em> at <b><%= minute_to_human(@request["minute"]) -%></b>
</div>
<% time_resources = Logjam::Resource.time_resources
   call_resources = Logjam::Resource.call_resources
   memory_resources = Logjam::Resource.memory_resources
   heap_resources = Logjam::Resource.heap_resources
   colors = Logjam::Resource.colors
   pie_colors = Logjam::Resource.colors_with_transparency(0.7)
   other_keys = @request.keys - time_resources - call_resources - memory_resources - heap_resources
   other_keys.reject!{|k| k =~ /(^_id|lines|minute|page|_sq)$/}
-%>

<fieldset class="resource-fields">
  <legend>Time resources</legend>
  <table id='request-details-time' class="filter-widget">
    <% @request.slice(*time_resources).each do |name, value| -%>
    <% next if value.blank?  -%>
    <tr>
      <td class='resource_name'><%= hrn name %></td>
      <td class='number' style="color:<%= colors[name] || '#000' %>;"><%= seconds_to_human(value / 1000.0) %></td>
    </tr>
    <% end -%>
  </table>
  <div id="times" class="filter-widget" style="margin-top:7px;">
    <% resources = time_resources-["total_time", "gc_time"] -%>
    <%= render :partial => "simple_pie", :locals => { :data => @request.values_at(*resources),
        :legend => resources,
        :colors => pie_colors.values_at(*resources) } %>
  </div>
</fieldset>

<fieldset class="resource-fields">
  <legend>Call resources</legend>
  <table id='request-details-calls' class="filter-widget">
    <% @request.slice(*call_resources).each do |name, value| -%>
    <% next if value.blank?  -%>
    <tr>
      <td class='resource_name'><%= hrn name %></td>
      <td class='number' style="color:<%= colors[name] || '#000' %>;"><%= number_with_delimiter(value.to_i) %></td>
    </tr>
    <% end -%>
  </table>
  <div id="calls" class="filter-widget" style="margin-top:7px;">
    <% resources = *call_resources.select{|r| r =~ /_calls$/}-["gc_calls"] -%>
    <%= render :partial => "simple_pie", :locals => {:data => @request.values_at(*resources),
        :legend => resources,
        :colors => pie_colors.values_at(*resources) } %>
  </div>
</fieldset>

<fieldset class="resource-fields">
  <legend>Memory resources</legend>
  <table id='request-details-memory' class="filter-widget">
    <% @request.slice(*memory_resources+heap_resources).each do |name, value| -%>
    <% next if value.blank?  -%>
    <tr>
      <td class='resource_name'><%= hrn name %></td>
      <td class='number' style="color:<%= colors[name] || '#000' %>;"><%= number_with_delimiter(value.to_i) %></td>
    </tr>
    <% end -%>
  </table>
  <div id="memory"  class="filter-widget" style="margin-top:7px;">
    <% resources = *memory_resources-["allocated_memory"]
       h = @request.slice(*resources)
       h["allocated_objects"] *= 40 if h.include?("allocated_objects")
       -%>
    <%= render :partial => "simple_pie", :locals => {:data => h.values_at(*resources),
        :legend => resources,
        :colors => pie_colors.values_at(*resources) } %>
  </div>
</fieldset>

<fieldset class="resource-fields">
  <legend>Request attributes</legend>
  <table id='request-details' class="filter-widget">
    <% @request.slice(*other_keys).each do |name, value| -%>
    <% next if value.blank?  -%>
    <tr>
      <td class='resource_name'><%= hrn name %></td>
      <% if name == "severity" -%>
      <td class='number'><%= format_severity(value) %></td>
      <% else -%>
      <td class='number'><%= h value %></td>
      <% end -%>
    </tr>
    <% end -%>
  </table>
  <p class="clear-left"></p>
</fieldset>

<pre id='request-lines' class="filter-widget">
<% (@request["lines"]||[]).each do |line| -%>
<%= format_log_line(line) %>
<% end -%>
</pre>

</div>
