<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">


    <div class="flex">
      <div class="item">
        <h2>Actions <%= hpn("for") %> sorted by <%= Logjam::Resource.grouping_function_description(params[:resource], params[:grouping_function]) %>
          (<%= integer_number(@dataset.size) %>)
        </h2>
        <%= render "page_times" %>
      </div>
    </div>
  </div>
</div>
