<%= render "header" %>
<div id="all-pages">
  <h3><%= @dataset.description %>
    <%- if params[:grouping] == "request" -%>
    between <%= minute_to_human(@dataset.start_minute) %>
    and <%= minute_to_human(@dataset.end_minute) %>
    <%- end -%>
  </h3>
  <%= render "page_times" %>
</div>
