<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <h2><%= params[:app] %> :: Actions <%= hpn("for") %> sorted by
          <%= Logjam::Resource.grouping_function_description(params[:resource], params[:grouping_function]) %>
          (<%= integer_number(@dataset.size) %>)</h2>
    <div class="app-overview">
      <div class="item">
        <%= render "page_times" %>
      </div>
    </div>
  </div>
</div>
