<%= render "header" %>
<div id="logjam-container" class="xxl-view">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex">
      <div class="controls item col-2">
        <h2>User Agents
          <div id="admin-control">
            <%= form_tag(params.merge(:format => :csv), :method => :get) do %>
            <%= submit_tag "Download CSV", :id => "download-button", :class => "btn", :name => nil %>
            <% end %>
          </div>
        </h2>
        <table style="width:auto">
          <tr><td><strong>Agent Count</strong></td><td class="number"><%= integer_number(@summary["count"]) %></td></tr>
          <tr><td><strong>Headers Received</strong></td><td class="number"><%= integer_number(@summary["backend"]) %></td></tr>
          <tr><td><strong>Metrics Received</strong></td><td class="number"><%= integer_number(@summary["frontend"]) %></td></tr>
          <tr><td><strong>Metrcis Dropped</strong></td><td class="number"><%= integer_number(@summary["dropped"]) %></td></tr>
        </table>
      </div>
      <div id="user-agents" class="item col-2">
        <h2>Loss Statistics</h2>
        <table style="width:auto">
          <tr><td><strong>Outliers</strong></td><td class="number"><%= integer_number(@summary["outliers"]) %></td></tr>
          <tr><td><strong>Nav Timing</strong></td><td class="number"><%= integer_number(@summary["nav_timing"]) %></td></tr>
          <tr><td><strong>Illegal</strong></td><td class="number"><%= integer_number(@summary["illegal"]) %></td></tr>
          <tr><td><strong>Corrupted</strong></td><td class="number"><%= integer_number(@summary["corrupted"]) %></td></tr>
          <tr><td><strong>Invalid</strong></td><td class="number"><%= integer_number(@summary["invalid"]) %></td></tr>
        </table>
      </div>
    </div>
    <div class="flex">
      <div id="user-agents" class="item col-1">
        <h2>Top <%= @limit %></h2>
        <table class="full_stats zebra">
          <tr>
            <th class="center">User Agent</th>
            <th class="center">Backend Count</th>
            <th class="center">Frontend Count</th>
            <th class="center">Dropped</th>
          </tr>
          <% @agents.each do |info| %>
            <% agent, backend, frontend, dropped = info.values_at("agent", "backend", "frontend", "dropped") %>
            <tr class="full_stats zebra">
              <td><%= agent %></td>
              <td class="number">
                <%= integer_number(backend) %>
              </td>
              <td class="number">
                <%= integer_number(frontend) %>
              </td>
              <td class="number">
                <%= integer_number(dropped) %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
