<div class="header">
  <h3 id="admin-title" class="controls">Storage space used on database servers:
    ~ <%= integer_number(@total_bytes/(1024*1024*1024)) %>G
  </h3>
  <div id="admin-control">
    <%= form_tag(params.merge(:format => :csv), :method => :get) do %>
    <%= submit_tag "Download CSV", :id => "download-button", :name => nil %>
    <% end %>
  </div>
</div>
<div class="container">
  <table id="database-info" class="zebra">
    <tr>
      <th>Host</th><th>Application</th><th>Environment</th><th>Date</th><th>Size (G)</th>
    </tr>
    <% @sorted_database_info.each do |host,db,size| %>
    <tr>
      <% app, env, date = Logjam.extract_db_params(db) %>
      <td><%= host.split('.').first %></td>
      <td><%= app %></td>
      <td><%= env %></td>
      <td><%= date %></td>
      <td class="number"><%= float_number(size.to_f/(1024*1024*1024)) %></td>
    </tr>
    <% end %>
  </table>
</div>
